{#
 # 404 template
 # ------------
 #}


{# Subtemplate Setup #}
{# `classToInner` Is an array in which all classes are listed from the outer container to the container of the content builder. Used for the section element. #}
{% set templateBriefing = {
  bodyclass: 'error-404',
  slug: '',
  classToInner: ['o-area__container']
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  <div class="o-area__container">
    <h1>ERROR 404 : Page not found</h1>

    <p>What’s worse, a hilarious 404 page can’t be found either.</p>
  </div>
{% endblock %}
