{#
 # Searchresult Page
 # ------------
 #}

{# Subtemplate Setup #}
{# `classToInner` Is an array in which all classes are listed from the outer container to the container of the content builder. Used for the section element. #}
{% set templateBriefing = {
bodyclass: 'search',
sections: ['blog'],
name: 'Search',
limit: 10,
classToInner: ['o-area__container']
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  {# Search Query #}
  {% set searches = craft.entries({
  search: craft.request.getParam('q'),
  section: templateBriefing.sections,
  order: 'score',
  limit: templateBriefing.limit
  })%}

<div class="o-area__container">
  {% if searches|length %}
    <h1>{{ templateBriefing.name }}</h1>
    <p>{{ searches.total }} Ergebnisse für:<br>
      <span><b>{{ searches.search }}</b></span>
    </p>

    {# Generate the Search Results #}
    {% paginate searches as search %}

    {% for searchentry in search %}
      <article>
        <h2><a href="{{ searchentry.url }}">{{ searchentry.title }}</a></h2>
        <p>{{ searchentry.body }}</p>
      </article>
    {% endfor %}

    {# Include Pagination #}
    {{ _.pagination(paginate,craft,'',searches.search) }}

  {% else %}
    <h1>{{ templateBriefing.name }}</h1>
    <p>Leider keine Ergebnisse für:<br>
      <span><b>{{ craft.request.getParam('q') }}</b></span>
    </p>
  {% endif %}
</div>
{% endblock %}
