.acf-field
    &.field_type-markdown
        .wp-media-buttons
            float none
            .button
                &:active
                    margin-bottom 4px
                    margin-top 0
