<p>Default Style</p>
<div class="o-button">
  <a itemprop="url" role="button" href="http://kittn.de" target="_blank" class="o-button__element o-button--s-default o-button--small">Kittn</a>
</div>

<div class="o-button">
  <a itemprop="url" role="button" href="http://kittn.de" target="_blank" class="o-button__element o-button--s-default o-button--big">Kittn</a>
</div>

<div class="o-button">
  <a itemprop="url" role="button" href="http://kittn.de" target="_blank" class="o-button__element o-button--s-default o-button--fullwidth">Kittn</a>
</div>

