/*
  Button
  ======
  Creates a button with different styles. In addition, size, width and position can be adjusted.
*/

.c-button {
  // Component Config
  $api: (
    breakpoint: 'm',
    margin-bottom: s(1),
    size: (
      small: (
        fontsize: 13,
        padding: 5px 10px
      ),
      regular: (
        fontsize: 16,
        padding: 10px 15px
      ),
      big: (
        fontsize: 22,
        padding: 15px 30px
      )
    ),
    color: (
      default: (
        regular: (
          text: c('white'),
          background: c('primary'),
          border: c('primary')
        ),
        hover: (
          text: c('primary'),
          background: transparent,
          border: c('primary')
        )
      )
    )
  );

  // Build Root and Rootname
  $root: #{&};

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Base Modifier -------------------------

  // [root]--big
  &--big#{$root}--big {
    @include fontsize(api(size, big, fontsize));
    padding: api(size, big, padding);
  }

  // [root]--small
  &--small#{$root}--small {
    @include fontsize(api(size, small, fontsize));
    padding: api(size, small, padding);
  }

  // [root]--fullwidth
  &--fullwidth#{$root}--fullwidth {
    display: block;
  }

  // [root]--center
  &--center {
    text-align: center;
  }

  // [root]--right
  &--right {
    text-align: right;
  }

  // Childs --------------------------------

  // [root]__element
  &__element {
    margin-bottom: api(margin-bottom);
    font-weight: 700;
    display: inline-block;
    line-height: 1;
    text-align: center;
    @include fontsize(api(size, regular, fontsize));
    padding: api(size, regular, padding);
    transition: all 300ms ease-in-out;
    transition-property: color, background-color;

    //&:hover {}

    // Default Style
    &#{$root}--s-default {
      color: api(color, default, regular, text);
      border: 2px solid api(color, default, regular, border);
      background-color: api(color, default, regular, background);

      &:hover {
        background-color: api(color, default, hover, background);
        color: api(color, default, hover, text);
      }
    }

    // Overwrite for secondary Color Style
    //&#{$root}--s-style1 {
    //  &:hover {}
    //}
  }
}
