/*
  Jumpnavigation
  ==============
  Creates a jump navigation that jumps to set anchors.
*/
.c-jumpnavigation {
  // Component Config
  $api: (
    breakpoint: 'm',
    breaksize: 500px,
    margin-bottom: s(1),
    gutter: 2px
  );

  // Build Root and Rootname
  $root: #{&};

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Base Style ----------------------------
  margin-bottom: api(margin-bottom);

  // Tags ----------------------------------
  // Base Modifier -------------------------

  // [root]--l-fullwidth
  &#{$root}--l-fullwidth  {
    &#{cq('width >= 500px')} {
      display: flex;
      justify-content: space-between;
      margin-left: 0 - api(gutter);
      margin-right: 0 - api(gutter);
    }
  }

  // Childs --------------------------------

  // [root]__link
  &__link {
    display: inline-block;

    #{$root}--l-fullwidth & {
      display: block;
      text-align: center;
      margin-bottom: api(gutter);
    }

    #{$root}--l-fullwidth#{cq('width >= #{api(breaksize)}')} & {
      flex: 1;
      margin-bottom: 0;
      margin-left: api(gutter);
      margin-right: api(gutter);
    }

    #{$root}--l-list & {
      display: block;
      text-align: center;
      margin-bottom: api(gutter);
    }

    // Style Modifier
    #{$root}--s-style1 & {
      background-color: lighten(c('primary'), 20);
      color: darken(c('primary'), 20);
      @include padding(10 10);
      transition: all 400ms ease-in;
      font-weight: bold; /* stylelint-disable-line */

      &:hover {
        background-color: darken(c('primary'), 10);
        color: c('white');
      }
    }
  }
}

