{#
  Button
  ======
  Creates a button with different styles. In addition, size, width and position can be adjusted.

  @param {string} name                   = Classname
  @param {object} main                   = Linkobject
  @param {string} main.url               = Url
  @param {bool}   main.target            = Open the link in a new tab
  @param {string} main.text              = Button inscription
  @param {object} options                = Optionsobject
  @param {string} options.style          = Styleoption
  @param {string} options.position       = Positionparameter [default, left, right]
  @param {string} options.size           = Buttonsize
  @param {bool}   options.fullwidth      = If the button should occupy the full container width
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-button' %}

{# Build Element Block #}
<div class="{{ classname }}{{ options.position != 'default' ? ' '~classname~'--'~options.position : '' }}">
  <a itemprop="url"
     role="button"
     href="{{ main.url }}" {{ main.target ? ' target="_blank"' }}
     class="{{ classname }}__element{{ options.style ? ' '~classname~'--s-'~options.style }}{{ options.size ? ' '~classname~'--'~options.size }}{{ options.fullwidth ? ' '~classname~'--fullwidth' }}">
    {{ main.text }}
  </a>
</div>
