{#
  Iframe Content
  ==============
  For adding iFrame Content thats need to be responsive
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-iframecontent' %}

{# Split Aspect Ratio Value #}
{% set r = data.ratio|default('16:9') %}
{% set ar = r|split(':') %}

{# Define Size Modifiers #}
{% set size = data.size != 'default' ? ' '~classname~'--s-'~data.size : '' %}

{# Build Element Block #}
<div class="{{ classname }}{{ size }}">
  <div class="{{ classname }}__inner" style="padding-bottom: {{ (ar|last)/(ar|first) * 100 }}%">
    {{ data.embed|raw }}
  </div>
  {% if data.caption %}
    <div class="{{ classname }}__caption">{{ data.caption }}</div>
  {% endif %}
</div>
