{#
  Anchor
  ======
  Adds an anchor point for jump navigations

  @param {string} name             = Classname
  @param {object} data             = Dataobject
  @param {number} data.anchorname  = Name of the Anchor
  @param {number} data.positionfix = Optional position offset
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-anchor' %}

{# Build Element Block #}
<div class="{{ classname }}" id="{{ data.anchorname|default('anchor')|lower }}"{{ data.positionfix != '' ? 'style=position:relative;top:'~data.positionfix }}></div>
