{#
  Embed
  =====
  Simple element for displaying Embed Code (gists, tweets, etc.)

  @param {string} name               = Classname
  @param {object} data               = Dataobject
  @param {object} data.body          = Content
  @param {object} data.align         = Positioning [left:default, center, right]
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-embed' %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.align != 'default' ? ' '~classname~'--'~data.align }}">
  {{ data.body|raw }}
</div>
