{#
  Slide Out Box
  ==============
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-slideoutbox' %}

{# Set Style #}
{% set style = data.style != 'default' ? ' '~classname~'--'~data.style : '' %}

{# Build Element Block #}
<div class="{{ classname }}{{ style }}">
  <div class="{{ classname }}__head">
    <div class="{{ classname }}__trigger">{{ data.trigger }}</div>
  </div>
  <div class="{{ classname }}__body">
    <div class="{{ classname }}__body__inner">{{ data.body }}</div>
  </div>
</div>
