{#
  List
  ====
  Creates a list of freely selectable bullets and individual styling

  @param {string} name                   = Classname
  @param {object} main                   = Listobject
  @param {string} main.entry             = Listentries
  @param {object} options                = Optionsobject
  @param {string} options.listtype       = Type of list [ul, ol]
  @param {string} options.bullet         = Type of Bullet, for `ul` [circle, square, custom]
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-list' %}

{# Define the Listtype with Bulletstyle #}
{% if options.listtype == 'ul' %}
  {% set list = 'ul' %}
  {% switch options.bullet %}
    {% case "circle" %}
      {% set style = ' '~classname~'--circle' %}
    {% case "square" %}
      {% set style = ' '~classname~'--square' %}
    {% case "custom" %}
      {% set style = ' '~classname~'--custom' %}
    {% default %}
      {% set style = '' %}
  {% endswitch %}
{% else %}
  {% set list = 'ol' %}
  {% set style = ' '~classname~'--ordered' %}
{% endif %}

{# Build Element Block #}
<{{ list }} class="{{ classname }}{{ style }}" role="list">
  {% for entry in main %}
    <li class="{{ classname }}__entry">{{ entry.entry|raw }}</li>
  {% endfor %}
</{{ list }}>
