{#
  JumpNavigation
  ==============
  Used for Jumping to Anchors

  @param {string} name                   = Classname
  @param {object} main                   = Navigationobject
  @param {string} main.anchor            = Anchor Link (without `#`)
  @param {string} main.linkname          = Name of the Anchorlink
  @param {object} options                = Optionsobject
  @param {string} options.layout         = Optional Classname for Style
  @param {string} options.style          = Optionsobject
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-jumpnavigation' %}

{# Set Layoutype Modifer #}
{% set navstyle = options.layout != 'default' ?  ' '~classname~'--l-'~options.layout : '' %}

{# Build Element Block #}
<nav class="{{ classname }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}{{ navstyle }}" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% for link in main %}
    <a itemprop="url" role="button" href="#{{ link.anchor|lower }}" class="{{ classname }}__link js-smooth-scroll">{{ link.linkname }}</a>
  {% endfor %}
</nav>

