{#
  Button Module
  =============
  Build a simple Button Element with an outer position Wrapper
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-button' %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.position != 'default' ? ' '~classname~'--'~data.position : '' }}">
  <a itemprop="url"
     role="button"
     href="{{ data.button.url }}" {{ data.button.target ? ' target="_blank"' }}
     class="{{ classname }}__element{{ data.style ? ' '~classname~'--s-'~data.style }}{{ data.size ? ' '~classname~'--'~data.size }}{{ data.fullwidth ? ' '~classname~'--fullwidth' }}">
    {{ data.button.text }}
  </a>
</div>
