{#
  Image Slider
  ============
  Creates an image slider, using the Swiper.js library

  @param {string} name                   = Classname
  @param {object} main                   = Images
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
  @param {string} options.ratio          = Image Ratio
  @param {object} general                = General Slider Setupobject
  @param {object} general.slidesPerView  = Number of visible Slides (1 - 10 / auto)
  @param {object} general.centeredSlides = Should the Slides Centerd
  @param {object} general.spaceBetween   = Space between slides
  @param {object} general.effect         = Slides Effect (fade / slide)
  @param {object} general.loop           = Loopable Slider
  @param {object} setup                  = Slider Setupobject
  @param {bool}   setup.autoheight       = Dynamic Height for all Slides
  @param {string} setup.autoplay         = Autoplaytime (or disable)
  @param {number} setup.speed            = Animation Timing
  @param {bool}   setup.pagination       = Disable Pagination
  @param {bool}   setup.navigation       = Disable Navigation
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-imageslider' %}

{# Slider Setup #}
{% set autoHeight     = setup.autoHeight ? '"autoHeight": true,' : '"autoHeight": false,' %}
{% set slidesPerView  = general.slidesPerView != 'default' ? '"slidesPerView": "'~general.slidesPerView~'",' : '' %}
{% set centeredSlides = general.centeredSlides ? '"centeredSlides": true,' : '"centeredSlides": false,' %}
{% set spaceBetween   = general.spaceBetween ? '"spaceBetween": '~general.spaceBetween~',' : '' %}
{% set effect         = general.effect != 'default' ? '"effect": "'~general.effect~'",' : '' %}
{% set loop           = general.loop ? '"loop": true,' : '"loop": false,' %}
{% set pagination     = setup.pagination != true ? '"paginationHide": true,' : '' %}

{% if responsive.responsive %}
  {% set br1 = responsive.size1 ? responsive.size1|split(':') : '1024:4:40'|split(':') %}
  {% set br2 = responsive.size2 ? responsive.size2|split(':') : '800:3:30'|split(':') %}
  {% set br3 = responsive.size3 ? responsive.size3|split(':') : '500:2:20'|split(':') %}
  {% set br4 = responsive.size4 ? responsive.size4|split(':') : '300:1:10'|split(':') %}
  {% set breakpointsStart = '"breakpoints": {' %}
  {% set breaksize1 = '"'~br1[0]~'"' ~ ': { "slidesPerView": '~br1[1]~', "spaceBetween": '~br1[2]~'},' %}
  {% set breaksize2 = '"'~br2[0]~'"' ~ ': { "slidesPerView": '~br2[1]~', "spaceBetween": '~br2[2]~'},' %}
  {% set breaksize3 = '"'~br3[0]~'"' ~ ': { "slidesPerView": '~br3[1]~', "spaceBetween": '~br3[2]~'},' %}
  {% set breaksize4 = '"'~br4[0]~'"' ~ ': { "slidesPerView": '~br4[1]~', "spaceBetween": '~br4[2]~'}' %}
  {% set breakpointsEnd = ' },' %}
{% else %}
  {% set breakpointsStart = '' %}
  {% set breaksize1 = '' %}
  {% set breaksize2 = '' %}
  {% set breaksize3 = '' %}
  {% set breaksize4 = '' %}
  {% set breakpointsEnd = '' %}
{% endif %}

{# Set Autoplay Speed #}
{% switch setup.autoplay %}
  {% case "slow" %}
    {% set autoplay = 10000 ~ ',' %}
  {% case "medium" %}
    {% set autoplay = 5000 ~ ',' %}
  {% case "fast" %}
    {% set autoplay = 2500 ~ ',' %}
  {% default %}
    {% set autoplay = false %}
{% endswitch %}

{# Set Animation Speed #}
{% switch setup.speed %}
  {% case "slow" %}
    {% set speed = 1000 %}
  {% case "medium" %}
    {% set speed = 500 %}
  {% case "fast" %}
    {% set speed = 250 %}
  {% default %}
    {% set speed = 500 %}
{% endswitch %}

{# Build Element Block #}
<figure class="{{ classname }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}" itemscope itemtype="http://schema.org/ImageGallery" role="presentation" data-imageslider='{
  {{ autoHeight }}
  {{ slidesPerView }}
  {{ centeredSlides }}
  {{ spaceBetween }}
  {{ effect }}
  {{ loop }}
  {{ breakpointsStart }}
  {{ breaksize1 }}
  {{ breaksize2 }}
  {{ breaksize3 }}
  {{ breaksize4 }}
  {{ breakpointsEnd }}
  {{ autoplay ? '"autoplay": ' ~ autoplay }}
  {{ speed ? '"speed": ' ~ speed }}
}'>
  <div class="{{ classname }}__wrapper">
    {% for photo in main %}
      <div class="{{ classname }}__slide" itemscope itemtype="http://schema.org/ImageObject">
        {{ myMacro.mediaImageSet(photo, options.ratio, {
          class: classname~'__image'
        }) }}
      </div>
    {% endfor %}
  </div>
  {% if setup.pagination != true %}
    <div class="{{ classname }}__pagination"></div>
  {% endif %}
  {% if setup.navigation != true %}
    <div class="{{ classname }}__button-next"></div>
    <div class="{{ classname }}__button-prev"></div>
  {% endif %}
</figure>
