{#
  Headline
  ========
  With Semantic Override

  @param {string} name               = Classname
  @param {object} data               = Dataobject
  @param {string} data.semantic      = Tag
  @param {string} data.override      = Semantic Override with Class (e.g. `.h4`)
  @param {string} data.headline      = Headline Text
#}

{# Build Element Block #}
<{{ data.semantic }}{{ data.override != 'default' ? ' class='~data.override }} role="heading" itemprop="name">{{ data.headline }}</{{ data.semantic }}>
