{#
  Markdown
  ========
  Creates content from the Markdown format

  @param {string} main                   = Markdown Content
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
  @param {bool}   options.addAnchor      = Adding Anchors to h1, h2, h3
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-markdown' %}

{# Build Element Block #}
<div class="{{ classname }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}">
  {{ main.html({
    addHeaderAnchors: options.addAnchor
  }) }}
</div>
