{#
  Card Slider
  ===========
  Creates an card slider, using the Flickity library

  @param {string} name                   = Classname
  @param {object} main                   = Images
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
  @param {string} options.ratio          = Image Ratio
  @param {object} general                = General Slider Setupobject
  @param {string} general.slidesPerView  = Number of visible Slides (1 - 10 / auto)
  @param {string} general.position       = Should the Slides Centerd
  @param {string} general.spaceBetween   = Space between slides
  @param {bool}   general.loop           = Loopable Slider
  @param {bool}   general.responsive     = Should breakpoints be used to break the slides?
  @param {object} setup                  = Slider Setupobject
  @param {bool}   setup.autoheight       = Dynamic Height for all Slides
  @param {string} setup.autoplay         = Autoplaytime (or disable)
  @param {number} setup.speed            = Animation Timing
  @param {bool}   setup.pagination       = Disable Pagination
  @param {bool}   setup.navigation       = Disable Navigation
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-slider' %}

{# Slider Setup #}
{% set spaceBetween  = general.spaceBetween ? 'padding-left: '~general.spaceBetween~';padding-right: '~general.spaceBetween~';' : '' %}

{% set responsive = general.responsive ? '-r' : '' %}

{% switch general.slidesPerView %}
  {% case 'auto' %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--auto' %}
  {% case 'two' %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--2' %}
  {% case 'three' %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--3' %}
  {% case 'four' %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--4' %}
  {% case 'five' %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--5' %}
  {% case 'six' %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--6' %}
  {% default %}
    {% set slideWidth = ' '~classname~'__slide'~responsive~'--1' %}
{% endswitch %}

{# Set Autoplay Speed #}
{% switch setup.autoplay %}
  {% case "slow" %}
    {% set autoplay = 10000  %}
  {% case "medium" %}
    {% set autoplay = 5000 %}
  {% case "fast" %}
    {% set autoplay = 2500  %}
  {% default %}
    {% set autoplay = 'false' %}
{% endswitch %}

{# Set Animation Speed #}
{% switch setup.speed %}
  {% case "slow" %}
    {% set selectedAttraction = 0.01 %}
    {% set friction = 0.15 %}
  {% case "medium" %}
    {% set selectedAttraction = 0.1 %}
    {% set friction = 0.35 %}
  {% case "fast" %}
    {% set selectedAttraction = 0.2 %}
    {% set friction = 1 %}
  {% default %}
    {% set selectedAttraction = 0.025 %}
    {% set friction = 0.28 %}
{% endswitch %}

{# Count Nested Child #}
{% set nestedChild = 0 %}
{% for child in content.children %}
  {% if child.hasDescendants() %}
    {% for child in child.children %}
      {% if child.hasDescendants() %}
        {% for child in child.children %}
          {% if child.hasDescendants() %}
            {% for child in child.children %}
              {% set nestedChild = 3 %}
            {% endfor %}
          {% else %}
            {% set nestedChild = 2 %}
          {% endif %}
        {% endfor %}
      {% else %}{% set nestedChild = 1 %}{% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{# Build Element Block #}
<figure class="{{ classname }} {{ classname ~ '--card' }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}"
        itemscope itemtype="http://schema.org/ImageGallery" role="presentation"
        data-flickity='{
    "accessibility": false,
    "contain": true,
    "imagesLoaded": true,
    "lazyLoad": false,
    "adaptiveHeight": {{ setup.autoHeight ? 'true' : 'false' }},
    "groupCells": {{ general.groupCell != 'disable' ? general.groupCell : 0 }},
    "autoPlay": {{ autoplay }},
    "friction": {{ friction }},
    "selectedAttraction": {{ selectedAttraction }},
    "freeScroll": {{ general.freescroll ? 'true' : 'false' }},
    "freeScrollFriction": 0.03,
    "cellAlign": "{{ general.position ? general.position : 'center' }}",
    "prevNextButtons": {{ setup.navigation != true ? 'true' : 'false' }},
    "pageDots": {{ setup.pagination != true ? 'true' : 'false' }},
    "wrapAround": {{ setup.loop ? 'true' : 'false' }}
  }'>

  {% switch nestedChild %}
  {% case 0 %}
  {% for child in content.children %}
    <div class="{{ classname }}__slide{{ slideWidth }}" style="{{ spaceBetween }}" itemscope itemtype="http://schema.org/MediaObject">
      <div class="{{ classname }}__slide__inner">
        {% include '_builder/_cb-objects' with { data: child } %}
      </div>
    </div>
  {% endfor %}
  {% case 2 %}
  {% for child in content.children %}
    {% for child in child.children %}
      {% for child in child.children %}
        <div class="{{ classname }}__slide"{{ slideWidth }}" style="{{ spaceBetween }}" itemscope itemtype="http://schema.org/MediaObject">
        <div class="{{ classname }}__slide__inner">
          {% include '_builder/_cb-objects' with { data: child } %}
        </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% endswitch %}
</figure>
