{#
  Tab
  ===
  Tabs only with CSS, therefore only one tab container per page. If this is not enough,
  the functionality must be expanded with JS. The Container tab contains a ContentBuilder.

  @param {string} name          = Classname
  @param {object} data          = Dataobject
  @param {string} data.style    = Optional Styleclass Name
#}

{% macro tabBlock(classname, child, key) %}
  {# Random Number for identify tabgroup#}
  {% set tabGroup = random(5000) %}

  <input type="radio" name="tabs" id="tg{{ tabGroup }}-e{{ key }}" class="{{ classname }}__input"{{ key == 0 ? ' checked="checked"' }} role="tab">
  <label class="{{ classname }}__header" for="tg{{ tabGroup }}-e{{ key }}">{{ child.objTab }}</label>
  <div class="{{ classname }}__body" role="tabpanel">
    <div class="{{ classname }}__inner">
      {% for child in child.children %}
        {% include '_builder/_cb-objects' with { data: child } %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-tab' %}

{# Count Nested Child #}
{% set nestedChild = 0 %}
{% for child in content.children %}
  {% if child.hasDescendants() %}
    {% for child in child.children %}
      {% if child.hasDescendants() %}
        {% for child in child.children %}{% if child.hasDescendants() %}{% set nestedChild = 2 %}{% endif %}{% endfor %}
      {% else %}{% set nestedChild = 1 %}{% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.style ? ' '~classname~'--s-'~data.style : ' '~classname~'--s-default' }}" role="tablist">
  {# Loop through #}
  {% switch nestedChild %}
  {% case 1 %}
  {% for key, child in content.children %}
    {{ _self.tabBlock(classname, child, key)}}
  {% endfor %}
  {% case 2 %}
  {% for key, child in content.children %}
    {% for key, child in child.children %}
      {% for key, child in child.children %}
        {{ _self.tabBlock(classname, child, key)}}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% endswitch %}
</div>
