{#
  Slide Out Box
  ==============
  A simple box with hidden content to open

  @param {string} name                   = Classname
  @param {object} data                   = Dataobject
  @param {string} data.trigger           = Label the click area
  @param {string} data.body              = Hidden Content
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclassname
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-slideoutbox' %}

{# Set Style #}
{% set style = options.style != 'default' ? ' '~classname~'--s-'~options.style : '' %}

{# Build Element Block #}
<div class="{{ classname }}{{ style }}" role="tablist">
  <div class="{{ classname }}__head" role="tab">
    <div class="{{ classname }}__trigger">{{ data.trigger }}</div>
  </div>
  <div class="{{ classname }}__body" role="tabpanel">
    <div class="{{ classname }}__body__inner">{{ data.body }}</div>
  </div>
</div>
