{#
  Viewport Span
  =============
  The Viewportspan, the regular PageBorder can overlap the viewport margin. This is somewhat flawed on window systems (the scrollbar is placed on the window system in the viewport). Alternatively, the viewportspan can be used as a regular container.

  @param {string} name            = Classname
  @param {object} data            = Dataobject
  @param {string} data.style      = Optional Styleclass Name
  @param {string} data.fullheight = If the container is to use the full height of the viewport
  @param {string} data.anchor     = Optional Anchorname for Jumpnavigations
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-viewportspan' %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.container ? ' '~classname~'--ascontainer' : ' '~classname~'--asspan' }}{{ data.style ? ' '~classname~'--s-'~data.style }}{{ data.fullHeight ? ' '~classname~'--fullheight' }}"{{ data.anchor ? ' id='~data.anchor|lower }}>
  <div class="{{ classname }}__inner">
    {% for child in content.children %}
      {% include '_builder/_cb-objects' with { data: child } %}
    {% endfor %}
  </div>
</div>
