{#
  Viewport Span
  =============
  Container that overlaps the page border. The Container contains a ContentBuilder.
  incorrectly on Windows systems because the scrollbars are offset against the viewport.

  @param {string} name            = Classname
  @param {object} data            = Dataobject
  @param {string} data.style      = Optional Styleclass Name
  @param {string} data.fullheight = If the container is to use the full height of the viewport
  @param {string} data.anchor     = Optional Anchorname for Jumpnavigations
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-viewportspan' %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.style ? ' '~classname~'--s-'~data.style }}{{ data.fullHeight ? ' '~classname~'--fullheight' }}"{{ data.anchor ? ' id='~data.anchor|lower }}>
  <div class="{{ classname }}__inner">
    {% for child in content.children %}
      {% include '_builder/_cb-objects' with { data: child } %}
    {% endfor %}
  </div>
</div>
