{#
  Button
  ======
  Creates a button with different styles. In addition, size, width and position can be adjusted.

  @param {string} name               = Classname
  @param {object} data               = Dataobject
  @param {string} data.position      = Positionparameter [default, left, right]
  @param {string} data.style         = Styleoption
  @param {string} data.size          = Buttonsize
  @param {bool}   data.fullwidth     = If the button should occupy the full container width
  @param {object} data.button        = Dataobject
  @param {string} data.button.url    = Url
  @param {bool}   data.button.target = Open the link in a new tab
  @param {string} data.button.text   = Button inscription
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-button' %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.position != 'default' ? ' '~classname~'--'~data.position : '' }}">
  <a itemprop="url"
     role="button"
     href="{{ data.button.url }}" {{ data.button.target ? ' target="_blank"' }}
     class="{{ classname }}__element{{ data.style ? ' '~classname~'--s-'~data.style }}{{ data.size ? ' '~classname~'--'~data.size }}{{ data.fullwidth ? ' '~classname~'--fullwidth' }}">
    {{ data.button.text }}
  </a>
</div>
