{#
  JumpNavigation
  ==============
  Used for Jumping to Anchors

  @param {string} name                              = Classname
  @param {object} data                              = Dataobject (Matrix Field)
  @param {object} data.block                        = Matrix Object
  @param {string} data.block.type                   = Matrix Type (must be `navigation`)
  @param {string} data.block.layout                 = Optional Classname for Style
  @param {object} data.block.anchorlink             = Array of anchorlinks
  @param {string} data.block.anchorlink.anchor      = Anchor Link (without `#`)
  @param {string} data.block.anchorlink.linkname    = Name of the Anchorlink
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-jumpnavigation' %}

{% for block in data %}
  {% if block.type == 'navigation' %}
    {# Set Layoutype Modifer #}
    {% set navstyle = block.layout != 'default' ?  ' '~classname~'--l-'~block.layout : '' %}

    {# Build Element Block #}
    <nav class="{{ classname }}{{ block.style != 'default' ? ' '~classname~'--s-'~block.style }}{{ navstyle }}" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      {% for link in block.anchorlinks %}
        <a itemprop="url" role="button" href="#{{ link.anchor|lower }}" class="{{ classname }}__link js-smooth-scroll">{{ link.linkname }}</a>
      {% endfor %}
    </nav>

  {% endif %}
{% endfor %}

