{#
  Image Slider
  ============
  Creates an image slider, using the Swiper.js library

  @param {string} name               = Classname
  @param {object} data               = Dataobject
  @param {object} data.photos        = Array of Images
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-imageslider' %}

{# Build Element Block #}
<figure class="{{ classname }}" itemscope itemtype="http://schema.org/ImageGallery" role="presentation">
  <div class="{{ classname }}__wrapper">
    {% for photo in data.photos %}
      <div class="{{ classname }}__slide" itemscope itemtype="http://schema.org/ImageObject">
        {{ myMacro.mediaImageSet(photo, data.ratio, {
          class: classname~'__image'
        }) }}
      </div>
    {% endfor %}
  </div>
  <div class="{{ classname }}__pagination"></div>
  <div class="{{ classname }}__button-next"></div>
  <div class="{{ classname }}__button-prev"></div>
</figure>
