{#
  Text Slider
  ===========
  A slider for text elements only

  @param {string} name                   = Classname
  @param {object} main                   = Slides
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-textslider' %}

{# Build Element Block #}
<div class="{{ classname }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}" role="presentation">
  <div class="{{ classname }}__wrapper">
    {% for slide in main %}
      <div class="{{ classname }}__slide">
        <div class="{{ classname }}__slide__inner">{{ slide.slide }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="{{ classname }}__pagination"></div>
  <div class="{{ classname }}__button-next"></div>
  <div class="{{ classname }}__button-prev"></div>
</div>
