{#
  Gallery
  =======
  Gallery with Lightbox (Photoswipe) support and a Flexbox Layout

  @param {string} name                              = Classname
  @param {object} data                              = Dataobject (Matrix Field)
  @param {object} data.block                        = Matrix Object
  @param {string} data.block.type                   = Matrix Type (must be `gallery`)
  @param {string} data.block.layoutType             = Arrangement of the gallery [smart, simple]
  @param {string} data.block.ratio                  = Optional adjustable ratio (for `simple` Gallery)
  @param {string} data.block.width                  = Optional Width (for `simple` Gallery)
  @param {object} data.block.galleryEntries         = Galleryentries
  @param {object} data.block.galleryEntries.photo   = Image
  @param {string} data.block.galleryEntries.caption = Optional Caption
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-gallery' %}

{% for block in data %}
  {% if block.type == 'gallery' %}
    {% set thumbWidth = ' ' %}
    {% set flexOverwrite = '' %}
    {% set layout = ' '~classname~'--l-'~block.layoutType %}
    {# Get Gallery Count #}
    {% set galleryCount = block.galleryEntries.total() %}
    {% set galCountMode = galleryCount > 1 ? ' '~classname~'--moreimages' : '' %}

    {# Setup for the Simple Layout #}
    {% if block.layoutType == 'simple' %}
      {% set galCountNr = '' %}
      {# Setup the Width #}
      {% set thumbWidth = block.width ? ' style=width:' ~block.width~' ' %}
      {% set flexOverwrite = block.width ? ' '~classname~'--noFlex' %}
      {# Define Crop #}
      {% if block.ratio %}
        {% set crop = block.ratio %}
      {% else %}
        {% set crop = galleryCount > 1 ? '1:1' : 'nocrop' %}
      {% endif %}

      {# Setup for the Smartlayout #}
    {% elseif block.layoutType == 'smart' %}
      {# Gallery Count Mode #}
      {% set galCountNr = galleryCount < 10 ? ' '~classname~'--'~galleryCount : ' '~classname~'--unlimited' %}
      {# Define Crop #}
      {% set crop = galleryCount > 1 ? '1:1' : 'nocrop' %}
    {% endif %}

    {# Build Element Block #}
    <div class="is-photoswipped {{ classname }}{{ galCountNr }}{{ galCountMode }}{{ layout }}{{ flexOverwrite }}" itemscope itemtype="http://schema.org/ImageGallery">
      {% for gallery in block.galleryEntries %}
        <figure class="{{ classname }}__figure" itemprop="associatedMedia"{{ thumbWidth }}itemscope itemtype="http://schema.org/ImageObject">
          <a class="{{ classname }}__link" href="{{ gallery.photo.first().url }}" itemprop="contentUrl" data-size="{{ gallery.photo.first().width }}x{{ gallery.photo.first().height }}">
            {{ myMacro.mediaImageSet(gallery.photo.first(), crop, {
              class: classname~'__thumbnail',
              sizes: [
                { width: 1200 },
                { width: 800 },
                { width: 500 },
                { width: 320 },
                { width: 150 },
                { width: 30 }
              ]
            }) }}
          </a>
          {% if gallery.caption %}
            <figcaption class="{{ classname }}__caption{{ galleryCount > 1 ? '---hidden' }}" itemprop="caption description">
              {{ gallery.caption }}
            </figcaption>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

{# Root element of PhotoSwipe. Must have class pswp. #}
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    {# don't modify these 3 pswp__item elements, data is added later on. #}
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    {# Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. #}
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        {# Controls are self-explanatory. Order can be changed. #}
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
