{#
  Media Box
  =========
  A Mediabox with image / video and text content

  @param {string} name                   = Classname
  @param {object} data                   = dataobject
  @param {object} data.photo             = Imageobject
  @param {object} data.video             = Videoobject
  @param {string} data.textcontent       = Richttext Content
  @param {object} options                = Optionsobject
  @param {string} options.background     = Background Color of the Box
  @param {string} options.mediaWidth     = Width of the media field [defautt:quater, half, threequater]
  @param {string} options.mediaPosition  = Position of the Mediabox [default:left, right]
  @param {bool}   options.videobox       = Activate if a video is to be used instead of an image
  @param {string} options.mediaRatio     = Aspect Ratio of the Mediaobject
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-mediabox' %}

{# Build Element Block #}
<div class="{{ classname }}{{ ' '~classname~'--'~options.mediaWidth }}{{ options.mediaPosition == 'right' ? ' '~classname~'--right' }}{{ options.background != 'null' ? ' '~classname~'--colored '~classname~'--c-'~options.background }}" role="group" itemscope itemtype="http://schema.org/MediaObject">

  {% if data.video|length or data.photo|length %}
    <div class="{{ classname }}__media">
      {% if options.videobox %}
        {% if data.video %}
          <video muted preload="none" autoplay="autoplay" class="{{ classname }}__video" loop role="application">
            {% for video in data.video %}
              <source src="{{ video.url }}" type="{{ video.getMimeType }}">
            {% endfor %}
            {% if data.photo %}
              {{ myMacro.mediaImageSet(data.photo.first(), options.mediaRatio, {
                class: classname~'__image'
              }) }}
            {% endif %}
          </video>
        {% endif %}

      {% else %}
        {% if data.photo %}
          {{ myMacro.mediaImageSet(data.photo.first(), options.mediaRatio, {
            class: classname~'__image'
          }) }}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <div class="{{ classname }}__body">
    {{ data.textcontent }}
  </div>
</div>
