{#
  Tab Wrapper
  ===========
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-tab' %}

{# Build Element Block #}
<div class="{{ classname }}{{ data.style ? ' '~classname~'--s-'~data.style : ' '~classname~'--s-default' }}" role="tablist">
  {# Random Number for identify tabgroup#}
  {% set tabGroup = random(5000) %}

  {% for key, tab in content.children %}
    <input type="radio" name="tabs" id="tg{{ tabGroup }}-e{{ key }}" class="{{ classname }}__input"{{ key == 0 ? ' checked="checked"' }} role="tab">
    <label class="{{ classname }}__header" for="tg{{ tabGroup }}-e{{ key }}">{{ tab.objTab }}</label>
    <div class="{{ classname }}__body" role="tabpanel">
      <div class="{{ classname }}__inner">
        {% for child in tab.children %}
          {% include '_builder/_cb-objects' with { data: child } %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
