{#
  Iframe Content
  ==============
  For embedding responsive iframe content

  @param {string} name                   = Classname
  @param {object} data                   = Dataobject
  @param {string} data.embed             = Embeded Code
  @param {string} data.caption           = Optional Caption
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
  @param {bool}   options.responsive     = If the container should be responsive
  @param {string} options.ratio          = Aspect Ratio of the Object
  @param {string} options.align          = Align
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-iframecontent' %}

{# Split Aspect Ratio Value #}
{% set r = options.ratio|default('16:9') %}
{% set ar = r|split(':') %}

{# Build Element Block #}
<div class="{{ classname }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}" role="presentation">
  {% if options.responsive %}
    <div class="{{ classname }}__inner" style="padding-bottom: {{ (ar|last)/(ar|first) * 100 }}%">
    {{ data.embed|raw }}
  </div>
  {% else %}
  <div class="{{ ' '~classname~'--align-'~options.align }}">
    {{ data.embed|raw }}
  </div>
  {% endif %}
  {% if data.caption %}
    <div class="{{ classname }}__caption">{{ data.caption }}</div>
  {% endif %}
</div>
