{#
  Media Image
  ===========
  Image Container Element, can overlap Pageborder

  @param {string} name                      = Classname
  @param {object} main                      = mainobject
  @param {object} main.photo                = Image Object (only one Image)
  @param {string} main.caption              = Optional Image Caption
  @param {object} options                   = Optionsobject
  @param {object} options.style             = Optional Styleclass
  @param {string} options.ratio             = Optional Imageratio (format: `16:9`)
  @param {bool}   options.heightrestriction = Restrict the max Imageheight to 100vh
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-mediaimage' %}

{% set height = '' %}
{# Set Heightrestriction Modifier #}
{% if not options.ratio|length %}
  {% set height = options.heightrestriction ? ' '~classname~'--maxheight' %}
{% endif %}

{# Build Element Block #}
<figure class="{{ classname }}{{ height }}{{ options.style != 'default' ? ' '~classname~'--s-'~options.style }}" role="group" itemscope itemtype="http://schema.org/ImageObject">
  {{ myMacro.mediaImageSet(main.photo.first(), options.ratio, {
    class: classname~'__image'
  }) }}
  {% if main.caption %}
    <figcaption class="{{ classname }}__caption" itemprop="caption description">
      {{ main.caption }}
    </figcaption>
  {% endif %}
</figure>
