{#
  List Module
  ===========
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-list' %}

{# Define the Listtype with Bulletstyle #}
{% if data.listtype == 'ul' %}
  {% set list = 'ul' %}
  {% switch data.bullet %}
    {% case "circle" %}
      {% set style = ' '~classname~'--circle' %}
    {% case "square" %}
      {% set style = ' '~classname~'--square' %}
    {% case "custom" %}
      {% set style = ' '~classname~'--custom' %}
    {% default %}
      {% set style = '' %}
  {% endswitch %}
{% else %}
  {% set list = 'ol' %}
  {% set style = ' '~classname~'--ordered' %}
{% endif %}

{# Build Element Block #}
<{{ list }} class="{{ classname }}{{ style }}" role="list">
  {% for entry in data.list %}
    <li class="{{ classname }}__entry">{{ entry.entry|raw }}</li>
  {% endfor %}
</{{ list }}>
