{#
  JumpNavigation
  =============
  Used for Jumping to Anchors
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-jumpnavigation' %}

{% for block in data %}
  {% if block.type == 'navigation' %}
    {# Set Layoutype Modifer #}
    {% set navstyle = block.layout != 'default' ?  ' '~classname~'--l-'~block.layout : '' %}

    {# Build Element Block #}
    <nav class="{{ classname }}{{ block.style != 'default' ? ' '~classname~'--s-'~block.style }}{{ navstyle }}">
      {% for link in block.anchorlinks %}
        <a href="#{{ link.anchor|lower }}" class="{{ classname }}__link js-smooth-scroll">{{ link.linkname }}</a>
      {% endfor %}
    </nav>

  {% endif %}
{% endfor %}

