{#
  Media Box
  =========
  A Mediabox with image / video and text content

  @param {string} name                   = Classname
  @param {object} data                   = Dataobject
  @param {string} data.background        = Background Color of the Box
  @param {string} data.mediaWidth        = Width of the media field [defautt:quater, half, threequater]
  @param {string} data.mediaPosition     = Position of the Mediabox [default:left, right]
  @param {bool}   data.videobox          = Activate if a video is to be used instead of an image
  @param {string} data.mediaRatio        = Aspect Ratio of the Mediaobject
  @param {object} data.photo             = Imageobject
  @param {object} data.video             = Videoobject
  @param {string} data.textcontent       = Richttext Content
#}

{# Class Overwrite #}
{% set classname = name is defined and name != '' ? name : 'o-mediabox' %}

{# Build Element Block #}
<div class="{{ classname }}{{ ' '~classname~'--'~data.mediaWidth }}{{ data.mediaPosition == 'right' ? ' '~classname~'--right' }}{{ data.background != 'null' ? ' '~classname~'--colored '~classname~'--c-'~data.background }}" role="group" itemscope itemtype="http://schema.org/MediaObject">

  {% if data.video or data.photo %}
    <div class="{{ classname }}__media">
      {% if data.videobox %}
        {% if data.video %}
          <video muted preload="none" autoplay="autoplay" class="{{ classname }}__video" loop role="application">
            {% for video in data.video %}
              <source src="{{ video.url }}" type="{{ video.getMimeType }}">
            {% endfor %}
            {% if data.photo %}
              {{ myMacro.mediaImageSet(data.photo.first(), data.mediaRatio, {
                class: classname~'__image'
              }) }}
            {% endif %}
          </video>
        {% endif %}

      {% else %}
        {% if data.photo %}
          {{ myMacro.mediaImageSet(data.photo.first(), data.mediaRatio, {
            class: classname~'__image'
          }) }}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <div class="{{ classname }}__body">
    {{ data.textcontent }}
  </div>
</div>
