/*
  Card
  ====
  Media and text content as card module
*/
.o-card {
  // Component Config
  $api: (
    breakpoint: 'm'
  );

  // Build Root and Rootname
  $root: #{&};
  // Rootname only for prefixing Extends
  $rn: str_slice($root,4);

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Local Style Storage  -------------------
  // Store  : %#{$rn}--example { color: red; }
  // Unload : @extend %#{$rn}--example;

  // Base Style ----------------------------

  // Tags ----------------------------------

  // Base Modifier -------------------------

  // [root]--s-style1
  &--s-style1 {
    background-color: c('white');
    box-shadow: 0 2px 30px rgba(0,0,0,.2);

    // [root]__inner
    #{$root}__inner {
      padding: 20px;
    }

    // [root]__media
    #{$root}__media {
      margin-bottom: 10px;
    }

    // [root]__header
    #{$root}__header {
      margin-bottom: 15px;
    }

    // [root]__headline
    #{$root}__headline {
      color: c('main');
    }

    // [root]__subline
    #{$root}__subline {
      font-weight: 300;
    }

    // [root]__meta
    #{$root}__meta {
      font-size: 95%;
      color: lighten(c('gray'),10);
    }

    // [root]__body
    #{$root}__body {}
  }

  // [root]--s-style1
  &--s-style2 {
    background-color: c('white');
    box-shadow: 0 0 60px rgba(0,0,0,.1);
    border-radius: 4px;

    // [root]__inner
    #{$root}__inner {
      position: relative;
      overflow: hidden;
    }

    // [root]__copy
    #{$root}__copy {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
    }

    // [root]__header
    #{$root}__header {
      margin-bottom: 15px;
    }

    // [root]__headline
    #{$root}__headline {
      color: c('white');
    }

    // [root]__subline
    #{$root}__subline {
      font-weight: 300;
      color: c('white');
    }

    // [root]__meta
    #{$root}__meta {
      font-size: 95%;
      color: lighten(c('gray'),10);
    }

    // [root]__body
    #{$root}__body {
      color: c('white');
    }
  }
  // [root]--s-style1
  &--s-style3 {
    background-color: c('white');
    box-shadow: 0 0 60px rgba(0,0,0,.1);
    border-radius: 4px;

    // [root]__inner
    #{$root}__inner {
      position: relative;
    }

    // [root]__copy
    #{$root}__copy {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    // [root]__header
    #{$root}__header {
      margin-bottom: 15px;
    }

    // [root]__subline
    #{$root}__subline {
      font-weight: 300;
    }

    // [root]__meta
    #{$root}__meta {
      display: block;
      font-size: 95%;
      color: lighten(c('gray'),10);
    }

    // [root]__body
    #{$root}__body {}
  }
  // Childs --------------------------------

  // [root]__inner
  &__inner {}

  // [root]__media
  &__media {
    img,
    video {
      display: block;
    }
  }

  // [root]__copy
  &__copy {
    *:last-child {
      margin-bottom: 0;
    }
  }

  // [root]__header
  &__header {}

  // [root]__headline
  &__headline {
    margin-bottom: 0;
  }

  // [root]__subline
  &__subline {
    margin-bottom: 0;
  }

  // [root]__meta
  &__meta {}

  // [root]__body
  &__body {}
}
