{#
  Button
  ======
  Creates a button with different styles. In addition, size, width and position can be adjusted.

  @param {string} name                   = Classname
  @param {object} data                   = Linkobject
  @param {string} data.url               = Url
  @param {bool}   data.target            = Open the link in a new tab
  @param {string} data.text              = Button inscription
  @param {object} options                = Optionsobject
  @param {string} options.style          = Styleoption
  @param {string} options.position       = Positionparameter [default, left, right]
  @param {string} options.size           = Buttonsize
  @param {bool}   options.fullwidth      = If the button should occupy the full container width
#}

{# Class Overwrite #}
{% set c = name is defined and name != '' ? name : 'c-button' %}

{# Build Element Block #}
<div class="{{ c }}{{ options.position is defined and options.position != 'default' ? ' ' ~ c ~ '--'~options.position : '' }}">
  <a itemprop="url"
     role="button"
     href="{{ data.url }}" {{ data.target is defined and data.target ? ' target=_blank' }}
     class="{{- c ~ '__element' -}}
      {{- options.style is defined and options.style ? ' ' ~ c ~ '--s-'~options.style -}}
      {{- options.size is defined and options.size ? ' ' ~ c ~ '--'~options.size -}}
      {{- options.fullwidth is defined and options.fullwidth ? ' ' ~ c ~ '--fullwidth' -}}">
    {{ data.text }}
  </a>
</div>
