{#
  Card
  ====
  Media and text content as card module

  @param {string} name          = c
  @param {object} data          = Dataobject
  @param {string} data.style    = Optional Styleclass Name
#}

{# Class Overwrite #}
{% set c = name is defined and name != '' ? name : 'c-card' %}
{% set cardurl = data.cardlink.url is defined ? data.cardlink.url : '' %}

{# Build Element Block #}
<div class="{{ c }}{{ options.style != 'default' ? ' ' ~ c ~ '--s-'~options.style }}" role="group" itemscope itemtype="http://schema.org/MediaObject">
  <div class="{{ c ~ '__inner' }}">
    {% if data.photo|length  %}
      <figure class="{{ c ~ '__media' }}">
        {{ _.mediaImageSet(data.photo.first(), options.mediaRatio, {
          class: c ~ '__image'
        }) }}
      </figure>
    {% endif %}
    {% if data.headline != '' or data.subline != '' or data.meta != '' or data.body != '' %}
      <div class="{{ c ~ '__copy' }}">
        {% if data.headline != '' or data.subline != '' or data.meta != '' %}
          <header class="{{ c ~ '__header' }}">
            {% if data.meta != '' %}<span class="{{ c ~ '__meta' }}">{{ data.meta }}</span>{% endif %}
            {% if data.headline != '' %}<h3 class="{{ c ~ '__headline' }}">
              {% if cardurl is defined and cardurl != '' %}<a href="{{ cardurl }}"{{ data.cardlink.type == 'custom' ? ' target="_blank"' }}>{% endif %}
                {{ data.headline }}
                {% if cardurl is defined and cardurl != '' %}</a>{% endif %}
              </h3>{% endif %}
            {% if data.subline != '' %}<h6 class="{{ c ~ '__subline' }}">{{ data.subline }}</h3>{% endif %}
          </header>
        {% endif %}
        {% if data.body != '' %}<div class="{{ c ~ '__body' }}">{{ data.body }}</div>{% endif %}
      </div>
    {% endif %}
  </div>
</div>
