{#
  Embed Content
  ==============
  For embedding responsive external content

  @param {string} name                   = c
  @param {object} data                   = Dataobject
  @param {string} data.embed             = Embeded Code
  @param {string} data.caption           = Optional Caption
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
  @param {bool}   options.responsive     = If the container should be responsive
  @param {string} options.ratio          = Aspect Ratio of the Object
  @param {string} options.align          = Align
#}

{# Class Overwrite #}
{% set c = name is defined and name != '' ? name : 'c-embedContent' %}

{# Split Aspect Ratio Value #}
{% set r = options.ratio|default('16:9') %}
{% set ar = r|split(':') %}

{# Build Element Block #}
{% if data.embedUrl|length or data.embed|length %}
  <div class="{{ c }}{{ options.style != 'default' ? ' ' ~ c ~ '--s-' ~ options.style }}{{ ' ' ~ c ~ '--align-' ~ options.align }}" role="presentation">
    <div class="{{ c }}{{ options.responsive ? '__inner' : '__wrapper' }}"{% if options.responsive %} style="padding-bottom: {{ (ar|last)/(ar|first) * 100 }}%"{% endif %}>
      {% if data.embedUrl|length %}
        {# If String has Instagram #}
        {% if 'instagram' in data.embedUrl %}
          {% set instaURL = data.embedUrl|split('?taken-by')|first %}
          {% set instaAlt = ' from ' ~ data.embedUrl|split('?taken-by=')|last|split('&')|first %}
          <figure>
            <img src="{{ instaURL }}media?size=l" alt="Instagram Image{{ instaAlt }}">
          </figure>
        {% else %}
          {{ data.embedUrl|videoEmbed }}
        {% endif %}
      {% else %}
        {{ data.embed|raw }}
      {% endif %}
    </div>
    {% if data.caption %}
      <div class="{{ c ~ '__caption' }}">{{ data.caption }}</div>
    {% endif %}
  </div>
{% endif %}
