{#
  grid
  =================
  Add a CSS Grid Layout Container

  @param {string} name            = Classname
#}

{# Set Class #}
{% set c = name is defined and name != '' ? name : 'c-grid' %}

{# Module defaults #}
{% set defaults = {
  name: 'grid'
} %}

{% set m = m is defined ? defaults|merge(m) : defaults %}

{% set gridLayoutClass, gridOldRevision, gridInlined, gridInlineStyle = '', '', '', '' %}

{# Pick Grid Setup from the Grid Setup Category #}
{% if options.setupChoice is not empty %}
  {% set gridSetup = options.setupChoice.first() %}
  {% set gridLayoutClass = ' ' ~ gridSetup.setGridSetup.gridClassName %}
  {% set gridOldRevision = gridSetup.setGridSetup.ie11Combatible %}
  {% set gridInlined = gridSetup.setGridSetup.inlinedStyle %}
  {% set gridInlineStyle = gridSetup.setGridSetup.style %}
{% endif %}

{# Build Element Block #}
<div class="{{ c }}{{ _.styleClasses(options.styleClasses) }}"{{ options.anchor != '' ? ' id=' ~ options.anchor|lower }}>
  {# Background Container #}
  {% if background.backgroundImage is defined and background.backgroundImage|length %}
    {% set bgAlign, bgSize = '', '' %}

    {# Pick BG Size #}
    {% if background.width != 'default' %}
      {% set bgAlign = background.width == 'halfLeft' ? ' ' ~ c ~ '__bg--left' : ' ' ~ c ~ '__bg--right' %}
    {% endif %}

    <div class="{{ c ~ '__bg' }}{{ _.styleClasses(options.background.styleClasses) }}{{ background.adaptContainer ? ' ' ~ c ~ '__bg--size-' ~ options.innerContainer }}">
      <div class="{{ c ~ '__bg__container'}} {{ c ~ '__bg__container--' ~ background.width }}">
        <div
          {{ _.mediaImageSet(background.backgroundImage.first(), background.ratio, {
            class: c ~ '__bg__background',
            elementtype: false,
            background: true,
            position: background.position ? background.position : false
          }) }}
        ></div>
      </div>
    </div>
  {% endif %}

  {# Inner Container #}
  <div class="{{ c }}__container{{ options.innerContainer != 'default' ? ' ' ~ c ~ '__container--' ~ options.innerContainer }}{{ gridLayoutClass }}">

    {# is no setupClass defined use the InlineGrid Style from the Category #}
    {% if gridInlined %}
      <style>
        {{ gridInlineStyle|raw }}
      </style>
    {% endif %}

    {# Insert Grid Boxes #}
    {% for key, column in content.children %}
      {% set gridBoxName = '' %}

      {# If the old revision is used, a class name is used instead of the grid area name #}
      {% if gridOldRevision %}
        {% set gridBoxName = ' ' ~ gridLayoutClass ~ '__' ~ column.setGridBoxOptions.boxName %}
      {% else %}
        {% set gridBoxName = ' style=grid-area:'~ column.setGridBoxOptions.boxName %}
      {% endif %}

      <div class="{{ c }}__box{{ gridOldRevision ? gridBoxName : '' }}{{ _.styleClasses(column.setGridBoxOptions.styleClasses) }}"{{ gridOldRevision != true ? gridBoxName }}>
        {% if column.children|length > 0 %}
          {% for child in column.children %}
            {% include '_builder/_cb-objects' with { data: child } %}
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
