{#
  instagram
  =================
  Description

  @param {string} name            = Classname
#}

{# Set Class #}
{% set c = name is defined and name != '' ? name : 'c-instagram' %}

{# Module defaults #}
{% set defaults = {
  name: 'instagram'
} %}

{% set m = m is defined ? defaults|merge(m) : defaults %}

{% set r = options.ratio|default('1:1') %}
{% set ar = r|split(':') %}

{# Build Element Block #}
<figure class="{{ c }}{{ _.styleClasses(options.styleClasses) }}" role="group" itemscope itemtype="http://schema.org/ImageObject">

  {% if options.linkable %}<a href="{{ data.postUrl }}" target="_blank">{% endif %}
    <div class="{{ c }}__wrapper" style="padding-bottom: {{ (ar|last)/(ar|first) * 100 }}%;{% if options.position and options.ratio != '' %}background-position: {{ options.position }};{% endif %}background-image:url({{ data.postUrl|split('/',6)[:5]|join('/') }}/media?size={{ options.size }})">
    </div>
    {% if options.linkable %}</a>{% endif %}
  {% if data.caption %}
    <figcaption class="{{ c ~ '__caption' }}" itemprop="caption description">
      {{ data.caption }}
    </figcaption>
  {% endif %}
</figure>
