{#
  JumpNavigation
  ==============
  Used for Jumping to Anchors

  @param {string} name                   = Classname
  @param {object} data                   = Navigationobject
  @param {string} data.anchor            = Anchor Link (without `#`)
  @param {string} data.linkname          = Name of the Anchorlink
  @param {object} options                = Optionsobject
  @param {string} options.layout         = Optional Classname for Style
  @param {string} options.style          = Optionsobject
#}

{# Class Overwrite #}
{% set c = name is defined and name != '' ? name : 'c-jumpnavigation' %}

{# Set Layoutype Modifer #}
{% set navstyle = options.layout != 'default' ?  ' ' ~ c ~ '--l-' ~ options.layout : '' %}

{# Build Element Block #}
<nav class="{{ c }}{{ options.style != 'default' ? ' ' ~ c ~ '--s-' ~ options.style }}{{ navstyle }}" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% for link in data %}
    <a itemprop="url" role="button" href="#{{ link.anchor|lower }}" class="{{ c ~ '__link' }} js-smooth-scroll">{{ link.linkname }}</a>
  {% endfor %}
</nav>

