{#
  Media Image
  ===========
  Image Container Element, can overlap Pageborder

  @param {string} name                      = Classname
  @param {object} data                      = dataobject
  @param {object} data.photo                = Image Object (only one Image)
  @param {string} data.caption              = Optional Image Caption
  @param {object} options                   = Optionsobject
  @param {object} options.style             = Optional Styleclass
  @param {string} options.ratio             = Optional Imageratio (format: `16:9`)
  @param {bool}   options.heightrestriction = Restrict the max Imageheight to 100vh
#}

{# Load Macro if not available #}
{% if _ is not defined %}
  {% import '_macros/my-macro.html' as _ %}
{% endif %}

{# Class Overwrite #}
{% set c = name is defined and name != '' ? name : 'c-mediaimage' %}

{% set height = '' %}
{# Set Heightrestriction Modifier #}
{% if not options.ratio|length %}
  {% set height = options.heightrestriction ? ' ' ~ c ~ '--maxheight' %}
{% endif %}

{# Build Element Block #}
<figure class="{{ c }}{{ height }}{{ options.style != 'default' ? ' ' ~ c ~ '--s-' ~ options.style }}" role="group" itemscope itemtype="http://schema.org/ImageObject">
  {{ _.mediaImageSet(data.photo.first(), options.ratio, {
    class: c ~ '__image'
  }) }}
  {% if data.caption %}
    <figcaption class="{{ c ~ '__caption' }}" itemprop="caption description">
      {{ data.caption }}
    </figcaption>
  {% endif %}
</figure>
