{#
  PageFoooter
  ===========
#}

{% set c = 'c-pageFooter' %}

<footer class="{{ c }}" role="contentinfo">
  {% cache %}
  <div class="{{ c ~ '__inner' }}">
    <div class="{{ c ~ '__copy' }} {{ c ~ '__block' }}">
      {# Adding Copyright Information #}
      {% include '_components/copyright' with { data: main.copyright } %}
    </div>
    <div class="{{ c ~ '__nav' }} {{ c ~ '__block' }}">
      {# Adding Footernavigation #}
      {{ _.siteNavigation('c-footernav', 'footernav') }}
    </div>
    <div class="{{ c ~ '__social' }} {{ c ~ '__block' }}">
      {# Add Social Links #}
      {% include '_components/socialNetworks' with { data: main.socialNetworks }  %}
    </div>
  </div>
  {% endcache %}
</footer>
