{#
  Quote
  =====
  Simple Quote module with Cite for displaying the source

  @param {string} name                   = Classname
  @param {object} data                   = Dataobject
  @param {string} data.copy              = Quotetext
  @param {string} data.source            = Citetext
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
#}

{# Class Overwrite #}
{% set c = name is defined and name != '' ? name : 'c-quote' %}

{# Build Element Block #}
<blockquote class="{{ c }}{{ options.style != 'default' ? ' ' ~ c ~ '--s-' ~ options.style }}">
  {{ data.copy|md }}
  {% if data.source %}<cite class="{{ c ~ '__cite' }}">{{ data.source|raw }}</cite>{% endif %}
</blockquote>
