{#
  Social Networks
  ===============
  Build links with Icons
#}

{% set c = 'c-socialNetworks' %}

{% if data|length %}
  <nav class="{{ c }}" role="navigation">
    {% for row in data if row.linkit %}
      <a href="{{ row.linkit }}" target="_blank" class="{{ c ~ '__link' }}" title="{{ row.caption ? row.caption : 'Folge uns auf'|t ~ ' ' ~ row.icon|capitalize }}">
        {{ _.svgicon('icon-' ~ row.icon, '0 0 50 50', {
          class: c ~ '__icon'
        } )}}
      </a>
    {% endfor %}
  </nav>
{% endif %}
