/*
  disqusComments
  ==============
  Disqus Comments trigger button Styling
*/
.c-disqusComments {
  $api: (
    breakpoint: 'm'
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};
  $rn: str_slice($root, 4);

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // ::::::::: BASE
  border-top: 1px solid c('black', 90);
  padding-top: s(1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: s(2);

  // ::::::::: TAGS

  a {
    color: c('black');
  }

  span {
    display: inline-block;
    line-height: 1;
  }

  // ::::::::: MODIFIER
  // ::::::::: CHILDS

  // [root]__wrapper
  &__wrapper {
    display: inline-block;
  }

  // [root]__button
  &__button {
    display: flex;
    align-items: center;
  }

  // [root]__icon
  &__icon {
    display: block;
    size: 30px;
    position: relative;
    top: -1px;
  }
}
