/*
  Headline
  ========
  Simple Headline Module
*/
.c-headline {
  // Component Config
  $api: (
    breakpoint: 'm'
  );

  // Build Root and Rootname
  $root: #{&};

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // [root]--s-style1
  &--s-style1 {
    font-style: italic;
    color: c('primary');
  }
}
