/*
  Iframe Content
  ==============
  For embedding responsive iframe content
*/
.c-iframecontent {
  // Component Config
  $api: (
    breakpoint: 'm',
    margin-bottom: s(1)
  );

  // Build Root and Rootname
  $root: #{&};

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Base Style ----------------------------
  margin: 0 auto api(margin-bottom) auto;
  position: relative;
  overflow: hidden;

  // Tags ----------------------------------
  // Base Modifier -------------------------

  // Style Modifier
  //&#{$root}--s-style1 {}

  // Childs --------------------------------
  // [root]__inner
  &__inner {
    position: relative;
    height: 0;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // [root]__wrapper
  &__wrapper {
    > * {
      display: inline-block !important;
    }

    // [root]--align-left
    #{$root}--align-left & {
      text-align: left;
    }

    // [root]--align-center
    #{$root}--align-center & {
      text-align: center;
    }

    // [root]--align-right
    #{$root}--align-right & {
      text-align: right;
    }
  }

  // [root]--align-left
  &--align-left {
    text-align: left;
  }

  // [root]--align-center
  &--align-center {
    text-align: center;
  }

  // [root]--align-right
  &--align-right {
    text-align: right;
  }

  // [root]__caption
  &__caption {
    padding-top: 5px;
    font-size: 90%;
    color: c('gray');
    text-align: center;
  }
}
