/*
  Mainnavigation
  ==============
  Main Navigation Module
*/
.c-mainnav {
  // Component Config
  $api: (
    breakpoint: 'm',
    color: c('black', 60) c('primary'),
    font-size: rem(18),
    gutter: 10px
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};

  // ::::::::: API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }
  @function apin($nth, $keys...) {
    @return nth(map-deep-get($api, $keys...), $nth);
  }

  // ::::::::: BASE

  // ::::::::: TAGS
  // ::::::::: MODIFIER
  // ::::::::: CHILDS

  // [root]__link
  &__list {
    a {
      transition: all 300ms ease-in;
      font-size: api(font-size);
      display: inline-block;
      color: apin(1, color);

      &:not(:first-of-type) {
        margin-left: api(gutter);
      }

      &:not(:last-of-type) {
        margin-right: api(gutter);
      }

      &:hover {
        color: apin(2, color);
      }
    }

    .current-menu-item a {
      color: apin(2, color);
    }
  }
}
