/*
  Progressloader
  ==============
  Add a Progress Loader
*/
.c-progressLoader {
  // Component Config
  $api: (
    breakpoint: 'm',
    bar: (
      color: darken(c('primary'), 20),
      height: 2px
    ),
    el: (
      jsmod: '.plj',
      canvas: '.o-area__wrapper'
    )
  );

  // Build Root and Rootname
  $root: #{&};

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Base Style ----------------------------
  #{api(el, jsmod)} & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 500ms 600ms ease-in-out;
    z-index: 9999;
  }

  #{api(el, jsmod)} #{$root}--complete & {
    opacity: 0;
  }

  // Base Modifier -------------------------
  @at-root { // Modify outer Wrapper
    #{api(el, jsmod)} {
      #{api(el, canvas)} {
        opacity: 0;
        transition: opacity .5s ease-in-out;
      }

      // Dont hide Screen with Craft Livepreview
      .is-livepreview #{api(el, canvas)} {
        opacity: 1;
      }
    }
  }

  // [root]--complete
  @at-root #{api(el, canvas)} {
    #{api(el, jsmod)} #{$root}--complete & {
      opacity: 1;
    }
  }

  // Childs --------------------------------
  // [root]__loader
  &__loader {
    #{api(el, jsmod)} & {
      position: absolute;
      left: 0;
      width: 100%;
      height: api(bar, height);
      background-color: api(bar, color);
      transition: transform 600ms ease-in-out, height 300ms 800ms ease-in-out;
      transform: translateX(-100%);
    }

    &#{$root}--bar--complete {
      #{api(el, jsmod)} & {
        transform: translateX(0%);
        height: 0;
      }
    }
  }
}
