/*
  Typo Scale
  =========
  Generate Scaling Classes
*/
.e-ts {
  // Component Config
  $api: (
    breakpoint: 'm',
    sizes: (
      flex: (
        '50to80': 50px 80px
      ),
      static: (
        'lead': 120,
        'small': 80
      )
    )
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};
  $rn: str_slice($root, 4);

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // ::::::::: BASE
  // [root]--text
  @each $key, $size in api(sizes, static) {
    &--#{$key} {
      font-size: $size + 0%;
    }
  }

  @each $key, $size in api(sizes, flex) {
    &__flex--#{$key} {
      @include f(nth($size, 1), nth($size, 2));
    }
  }


}
