doctype html
html
  include ../templatepart/_default-page-header
  block site-head
  body
    block site-body


    block site-footer
      p this is a test ein fest
    //- Include the Script Footer
    include ../templatepart/_default-page-scripts
