/*
  wrapper
  =================
  Description
*/
.c-wrapper {
  $api: (
    mq: 'm'
  );

  // ::::::::: ROOT SELECTOR
  $r: #{&}; // Root
  $rn: str_slice($r, 4); // Root with out Classdot

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }
  // For getting values from lists
  @function apin($nth, $keys...) {
    @return nth(map-deep-get($api, $keys...), $nth);
  }
  // ::::::::: BASE

  // ::::::::: TAGS
  // ::::::::: MODIFIER
  // ::::::::: CHILDS
}
