/*
  2to4Grid
  =====
  Responsive Grid with Flexbox Fallback. Infinite Boxes
*/
.o-2to4Grid {
  $api: (
    breakpoint: 'm'
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};
  $rn: str_slice($root, 4);

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }
  // For getting values from lists
  @function apin($nth, $keys...) {
    @return nth(map-deep-get($api, $keys...), $nth);
  }

  // ::::::::: BASE
  &#{cq('width >= 500px')} {
    @include grid-display-fallback();
    @include cssgrid-simple(20px, 20px, 2, 1fr, $height: false, $child: 'div');
  }

  &#{cq('width >= 760px')} {
    @include cssgrid-simple(20px, 20px, 4, 1fr, $height: false, $child: 'div');
  }

  // ::::::::: TAGS
  // ::::::::: MODIFIER
  // ::::::::: CHILDS
}
