/*
  offcanvasTrigger
  =====
  Description
*/
.o-offCanvasTrigger {
  $api: (
    breakpoint: 'm',
    trigger: (
      color: c('black', 60),
      activeColor: c('gray'),
      height: 3px,
      width: 25px
    ),
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};
  $rn: str_slice($root, 4);

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }
  // For getting values from lists
  @function apin($nth, $keys...) {
    @return nth(map-deep-get($api, $keys...), $nth);
  }

  // ::::::::: BASE
  width: api(trigger,width);
  height: api(trigger,height) * 5;
  position: relative;
  top: 1px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: api(trigger,height) - 1px;
    width: 100%;
    background: api(trigger,color);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: api(trigger,height) * 2;
    }

    &:nth-child(4) {
      top: api(trigger,height) * 4;
    }
  }

  &.offcanvas-active {
    span {
      &:nth-child(1) {
        top: api(trigger,height) * 2;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: api(trigger,height) * 2;
        width: 0%;
        left: 50%;
      }
    }
  }
  // ::::::::: TAGS
  // ::::::::: MODIFIER
  // ::::::::: CHILDS
}
