<figure class="o-imageslider" itemscope itemtype="http://schema.org/ImageGallery" role="presentation">
  <div class="o-imageslider__wrapper">
    <div class="o-imageslider__slide" itemscope itemtype="http://schema.org/ImageObject">
      <img data-sizes="auto" src="images/slide1--300.jpg" data-srcset="images/slide1--1200.jpg 1200w, images/slide1--800.jpg 800w, images/slide1--600.jpg 600w, images/slide1--300.jpg 300w " class="o-imageslider__image lazyload" role="img" alt="" itemprop="thumbnail">
    </div>
    <div class="o-imageslider__slide" itemscope itemtype="http://schema.org/ImageObject">
      <img data-sizes="auto" src="images/slide2--300.jpg" data-srcset="images/slide2--1200.jpg 1200w, images/slide2--800.jpg 800w, images/slide2--600.jpg 600w, images/slide2--300.jpg 300w " class="o-imageslider__image lazyload" role="img" alt="" itemprop="thumbnail">
    </div>
  </div>
  <div class="o-imageslider__pagination"></div>
  <div class="o-imageslider__button-next"></div>
  <div class="o-imageslider__button-prev"></div>
</figure>
