{#
 # Main Layout
 # ---------------
 # If you are not happy with - modify it :)
 #}

{# Include Macros for your #}
{% import '_macros/my-macro.html' as _ %}

{# Critical CSS if you dont want is disable it #}
{% set criticalCSS = true %}

<!DOCTYPE html>
<html lang="{{ craft.config.currentLanguage[craft.locale] }}">

{# Include the Document Header #}
{% include '_parts/document-header.html' with { criticalCSS: criticalCSS } %}

<body class="{{ craft.request.isLivePreview ? ' is-livepreview ' }}{{ _t is defined ? ' '~ _t.bodyclass ~ ' ' }}">

  {# Add Progressloader#}
  {% include '_components/progressLoader.html' %}

  {# Add OffCanvas Layer #}
  {% include '_components/offCanvas.html' %}

  <div class="o-area__wrapper">
    {# Add Page Header #}
    {% include '_components/pageHeader.html' %}

    <main class="o-area__main" role="main">{{ block('content') }}</main>

    {# Add Page Footer #}
    {% include '_components/pageFooter.html' %}
  </div>

	{# Adding the Document Footer #}
	{% include '_parts/document-footer.html' %}
</body>
</html>
