<div class="o-accordion o-accordion--s-default" role="tablist">
  <div class="o-accordion__box" role="tab">
    <div class="o-accordion__trigger">Accordion 1</div>
    <div class="o-accordion__body" role="tabpanel">
      <div class="o-accordion__inner">
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
  <div class="o-accordion__box" role="tab">
    <div class="o-accordion__trigger">Accordion 2</div>
    <div class="o-accordion__body" role="tabpanel">
      <div class="o-accordion__inner">
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
</div>

<div class="o-accordion o-accordion--s-style1" role="tablist">
  <div class="o-accordion__box" role="tab">
    <div class="o-accordion__trigger">Accordion 1</div>
    <div class="o-accordion__body" role="tabpanel">
      <div class="o-accordion__inner">
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
  <div class="o-accordion__box" role="tab">
    <div class="o-accordion__trigger">Accordion 2</div>
    <div class="o-accordion__body" role="tabpanel">
      <div class="o-accordion__inner">
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
</div>
