/*
  Accordion
  =========
  A classic Accordion. Any Accrodion contains a ContentBuilder.
*/
.o-accordion {
  // Component Config
  $api: (
    selector: 'accordion',
    breakpoint: 'm',
    margin-bottom: s(1)
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Base Style ----------------------------
  margin-bottom: v($api,margin-bottom);

  // Childs --------------------------------

  // [root]__box
  &__box {}

  // [root]__trigger
  &__trigger {
    @include fontsize(20);
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    padding-top: 5px;
    padding-bottom: 5px;


    // Different Styles for Trigger
    .o-accordion--s-default & {
      color: c('primary');

      &.is-open {
        color: lighten(c('primary'),20);
      }
    }

    .o-accordion--s-style1 & {
      @include padding(10 10);
      background-color: lighten(c('primary'),20);
      color: darken(c('primary'),20);
      margin-bottom: 1px;
      transition: all 400ms ease-in;

      &.is-open {
        background-color: lighten(c('primary'),35);
        color: lighten(c('main'),10);
      }
    }
  }

  // [root]__body
  &__body {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out;
  }

  // [root]__inner
  &__inner {
    padding-top: 10px;
    padding-bottom: 10px;

    *:last-child {
      margin-bottom: 0;
    }

    // Different Styles for Body
    .o-accordion--s-default & {
      padding-top: 0px;
      border-bottom: 1px solid lighten(c('gray'),40);
      margin-bottom: 10px;
    }

    .o-accordion--s-style1 & {
      padding-left: 10px;
      padding-right: 10px;
      background-color: #f2f2f2;
      margin-bottom: 1px;
      box-shadow: inset 1px 0 10px rgba(0,0,0,.15);
    }
  }

}
