/*
  Area
  ======
  Page Layout Areas
*/
.o-area {
  // Component Config
  $api: (
    breakpoint: 'm',
    header: (
      background: #ececec,
      margin: s(1),
      vertpadding: 1
    ),
    main: (),
    footer: (
      background: #252525,
      vertpadding: .5
    )
  );

  // Build Root and Rootname
  $root: #{&};
  // Rootname only for prefixing Extends
  $rn: str_slice($root,4);

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Local Style Storage  -------------------
  // Store  : %#{$rn}--example { color: red; }
  // Unload : @extend %#{$rn}--example;

  // Tags ----------------------------------

  // Base Modifier -------------------------

  // Childs --------------------------------

  // [root]__page
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }

  // [root]__container
  &__container {
    @extend %e-container;
    position: relative;
  }

  // [root]__header
  &__header {
    @include padding(gap(api(header,vertpadding)) 0);
    background-color: api(header,background);
    margin-bottom: api(header,margin);

    *, & {
      color: c('main');
    }
  }

  // [root]__main
  &__main {
    flex: 1 1 auto;
    margin-bottom: s(2);
  }

  // [root]__footer
  &__footer {
    background-color: api(footer,background);
    @include padding(gap(api(footer,vertpadding)) 0);

    *, & {
      color: c('white');
    }
  }
}
