/*
  Mediabox
  ========
  A Mediabox with image / video and text content
*/
.o-mediabox {
  // Component Config
  $api: (
    selector: 'mediabox',
    breakpoint: 600px,
    margin-bottom: s(1),
    color: (
      gray: (
        background: #e4e4e4,
        text: false
      )
    )
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Base Style ----------------------------
  margin-bottom: v($api,margin-bottom);<% if (projectbreakpoints === 'EQCSS') { %>

  @include eq((min-width: #{v($api,breakpoint)})) {
    eq_this {
      display: flex;
    }
  }<% } else { %>
  &#{cq('width >= #{v($api,breakpoint)}')} {
   display: flex;
  }<% } %>

  // Tags ----------------------------------

  // Base Modifier -------------------------

  // Build Color Modifier
  @each $colorkey,$color in v($api,color) {
    &--c-#{$colorkey} {
      @if(v($color,background) != false) {
        background-color: v($color,background);
      }
      @if(v($color,text) != false) {
        color: v($color,text);
      }
    }
  }

  // Childs --------------------------------

  // [root]__media
  &__media {
    overflow: hidden;

    #{$root}--right & {
      order: 2;
    }<% if (projectbreakpoints === 'EQCSS') { %>

    @include eqr($root, (min-width: #{v($api,breakpoint)})) {
      margin-right: 20px;
    }

    #{$root}--right & {
      @include eqr($root, (min-width: #{v($api,breakpoint)})) {
        margin-right: 0;
        margin-left: 20px;
      }
    }

    #{$root}--quarter & {
      @include eqr($root, (min-width: #{v($api,breakpoint)})) {
        flex: 0 0 25%;
      }
    }

    #{$root}--half & {
      @include eqr($root, (min-width: #{v($api,breakpoint)})) {
        flex: 0 0 50%;
      }
    }

    #{$root}--threequarter & {
      @include eqr($root, (min-width: #{v($api,breakpoint)})) {
        flex: 0 0 75%;
      }
    }<% } else { %>
    #{$root}#{cq('width >= #{v($api,breakpoint)}')} & {
      margin-right: 20px;
    }

    #{$root}#{cq('width >= #{v($api,breakpoint)}')}#{$root}--right & {
      margin-right: 0;
      margin-left: 20px;
    }

    #{$root}#{cq('width >= #{v($api,breakpoint)}')}#{$root}--quarter & {
      flex: 0 0 25%;
    }

    #{$root}#{cq('width >= #{v($api,breakpoint)}')}#{$root}--half & {
      flex: 0 0 50%;
    }

    #{$root}#{cq('width >= #{v($api,breakpoint)}')}#{$root}--threequarter & {
      flex: 0 0 75%;
    }<% } %>
  }

  // [root]__body
  &__body {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1 1 auto;

    #{$root}--colored & {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #{$root}--colored#{$root}--right & {
      padding-left: 20px;
      padding-right: 20px;
    }

    *:last-child {
      margin-bottom: 0;
    }<% if (projectbreakpoints === 'EQCSS') { %>

    @include eqr($root, (min-width: #{v($api,breakpoint)})) {
      align-self: center;
    }

    #{$root}--colored & {
      @include eqr($root, (min-width: #{v($api,breakpoint)})) {
        padding-left: 0;
      }
    }

    #{$root}--colored#{$root}--right & {
      @include eqr($root, (min-width: #{v($api,breakpoint)})) {
        padding-left: 20px;
        padding-right: 0;
      }
    }<% } else { %>
    #{$root}#{cq('width >= #{v($api,breakpoint)}')} & {
      align-self: center;
    }

    #{$root}#{cq('width >= #{v($api,breakpoint)}')}#{$root}--colored & {
      padding-left: 0
    }

    #{$root}#{cq('width >= #{v($api,breakpoint)}')}#{$root}--colored#{$root}--right & {
      padding-left: 20px;
      padding-right: 0;
    }<% } %>
  }

  // [root]__video
  &__video,
  &__image {
    width: 100%;
    display: block;
    min-height: 100%;
    object-fit: cover;
  }
}
