/*
  Mediabox
  ========
  A Mediabox with image / video and text content
*/
.o-mediabox {
  // Component Config
  $api: (
    breakpoint: 600px,
    margin-bottom: s(1),
    color: (
      gray: (
        background: #e4e4e4,
        text: false
      )
    )
  );

  // Build Root and Rootname
  $root: #{&};
  // Rootname only for prefixing Extends
  $rn: str_slice($root,4);

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Local Style Storage  -------------------
  // Store  : %#{$rn}--example { color: red; }
  // Unload : @extend %#{$rn}--example;

  // Base Style ----------------------------
  margin-bottom: api(margin-bottom);

  @include eq((min-width: #{api(breakpoint)})) {
    eq_this {
      display: flex;
    }
  }

  // Tags ----------------------------------

  // Base Modifier -------------------------

  // Build Color Modifier
  @each $colorkey,$color in api(color) {
    &--c-#{$colorkey} {
      @if(map-get($color,background) != false) {
        background-color: map-get($color,background);
      }
      @if(map-get($color,text) != false) {
        color: map-get($color,text);
      }
    }
  }

  // Childs --------------------------------

  // [root]__media
  &__media {
    overflow: hidden;

    #{$root}--right & {
      order: 2;
    }

    @include eqr($root, (min-width: #{api(breakpoint)})) {
      margin-right: 20px;
    }

    #{$root}--right & {
      @include eqr($root, (min-width: #{api(breakpoint)})) {
        margin-right: 0;
        margin-left: 20px;
      }
    }

    #{$root}--quarter & {
      @include eqr($root, (min-width: #{api(breakpoint)})) {
        flex: 0 0 25%;
      }
    }

    #{$root}--half & {
      @include eqr($root, (min-width: #{api(breakpoint)})) {
        flex: 0 0 50%;
      }
    }

    #{$root}--threequarter & {
      @include eqr($root, (min-width: #{api(breakpoint)})) {
        flex: 0 0 75%;
      }
    }
  }

  // [root]__body
  &__body {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1 1 auto;

    #{$root}--colored & {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #{$root}--colored#{$root}--right & {
      padding-left: 20px;
      padding-right: 20px;
    }

    *:last-child {
      margin-bottom: 0;
    }

    @include eqr($root, (min-width: #{api(breakpoint)})) {
      align-self: center;
    }

    #{$root}--colored & {
      @include eqr($root, (min-width: #{api(breakpoint)})) {
        padding-left: 0;
      }
    }

    #{$root}--colored#{$root}--right & {
      @include eqr($root, (min-width: #{api(breakpoint)})) {
        padding-left: 20px;
        padding-right: 0;
      }
    }
  }

  // [root]__video
  &__video,
  &__image {
    width: 100%;
    display: block;
    min-height: 100%;
    object-fit: cover;
  }
}
