/*
  Progressloader
  ==============
  Add a Progress Loader

  **Elements**
*/
.o-progressloader {
  // Component Config
  $api: (
    selector: 'progressloader',
    breakpoint: 'm',
    bar: (
      color: darken(c('primary'),20),
      height: 2px
    ),
    el: ( // Elements that used by progressloader
      jsmod: '.plj',
      canvas: '.o-layout__wrapper'
    )
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Base Style ----------------------------
  #{v($api,el,jsmod)} & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 500ms 600ms ease-in-out;
    z-index: 9999;
  }

  #{v($api,el,jsmod)} #{$root}--complete & {
    opacity: 0;
  }

  // Base Modifier -------------------------
  @at-root { // Modify outer Wrapper
    #{v($api,el,jsmod)} {
      #{v($api,el,canvas)} {
        opacity: 0;
        transition: opacity .5s ease-in-out;
      }
    }
  }

  // [root]--complete
  @at-root #{v($api,el,canvas)} {
    #{v($api,el,jsmod)} #{$root}--complete & {
      opacity: 1;
    }
  }

  // Childs --------------------------------
  // [root]__loader
  &__loader {
    #{v($api,el,jsmod)} & {
      position: absolute;
      left: 0;
      width: 100%;
      height: v($api,bar,height);
      background-color: v($api,bar,color);
      transition: transform 600ms ease-in-out, height 300ms 800ms ease-in-out;
      transform: translateX(-100%);
    }

    &#{$root}--bar--complete {
      #{v($api,el,jsmod)} & {
        transform:translateX(0%);
        height: 0;
      }
    }
  }
}
