/*
  Quote
  =====
  Simple Quote Module with Cite Element
*/
.o-quote {
  // Component Config
  $api: (
    breakpoint: 'm',
    style1: (
      border: (
        width: 10px,
        color: c('gray')
      )
    )
  );

  // Build Root and Rootname
  $root: #{&};
  // Rootname only for prefixing Extends
  $rn: str_slice($root,4);

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Local Style Storage  -------------------
  // Store  : %#{$rn}--example { color: red; }
  // Unload : @extend %#{$rn}--example;

  // Tags ----------------------------------
  p {
    margin-bottom: 0;
  }

  // Base Modifier -------------------------

  // Childs --------------------------------
  // [root]__cite
  &__cite {
    font-size: 90%;
  }

  // [root]--s-style1
  &--s-style1 {
    border-left: api(style1,border,width) solid api(style1,border,color);
    padding-left: s(1);
  }
}
