/*
  Richtext
  ========
  description
*/
.o-richtext {
  // Component Config
  $api: (
    selector: 'richtext',
    breakpoint: 'm'
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Temp Style Storage  -------------------
  // Store  : @include store(storagename) {}
  // Unload : @include yield(storagename);

  // Base Style ----------------------------

  // Tags ----------------------------------

  // Base Modifier -------------------------
  // [root]--s-style1
  &--s-style1 {
    font-size: 120%;
    color: c('gray')
  }
}
