/*
  Spacer
  ======
  Generates distances based on globalspacing
*/
.o-spacer {
  // Component Config
  $api: (
    selector: 'spacer',
    subspacer: .25 .5 .75,
    uptospacer: 1 2 3 4 5 6 7 8 9 10
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Base Style ----------------------------

  // Build Small Spacer
  @each $i in v($api,subspacer) {
    &--0#{$i*100} {
      content: s($i)
    }
  }

  // Build Big Spacer
  @each $i in v($api,uptospacer) {
    &--#{$i} {
      padding-bottom: s($i)
    }
  }
}
