/*
  spacer

  description

  **Elements**
*/
.o-spacer {
  // Component Config
  $api: (
    selector: 'spacer',
    breakpoint: 'm'
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Temp Style Storage  -------------------
  // Store  : @include store(storagename) {}
  // Unload : @include yield(storagename);

  // Base Style ----------------------------
  // [root]--025
  &--025 {
    margin-bottom: s(.25);
  }

  // [root]--050
  &--050 {
    margin-bottom: s(.5);
  }

  // [root]--075
  &--075 {
    margin-bottom: s(.75);
  }

  // [root]--1
  &--1 {
    margin-bottom: s(1);
  }

  // [root]--2
  &--2 {
    margin-bottom: s(2);
  }

  // [root]--3
  &--3 {
    margin-bottom: s(3);
  }

  // [root]--4
  &--4 {
    margin-bottom: s(4);
  }

  // [root]--5
  &--5 {
    margin-bottom: s(5);
  }

  // [root]--6
  &--6 {
    margin-bottom: s(6);
  }

  // [root]--7
  &--7 {
    margin-bottom: s(7);
  }

  // [root]--8
  &--8 {
    margin-bottom: s(8);
  }

  // [root]--9
  &--9 {
    margin-bottom: s(9);
  }

  // [root]--10
  &--10 {
    margin-bottom: s(10);
  }


  // Tags ----------------------------------

  // Base Modifier -------------------------

  // Childs --------------------------------

}
