/*
  Tab
  ===
  Tabs only with CSS, therefore only one tab container per page. If this is not enough,
  the functionality must be expanded with JS. The Container tab contains a ContentBuilder.
*/
.o-tab {
  // Component Config
  $api: (
    selector: 'tab',
    breakpoint: 500px,
    margin-bottom: s(1)
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Temp Style Storage  -------------------
  // Store  : @include store(storagename) {}
  // Unload : @include yield(storagename);

  // Base Style ----------------------------
  display: flex;
  flex-wrap: wrap;
  margin-bottom: v($api,margin-bottom);

  // Tags ----------------------------------

  // Base Modifier -------------------------

  // Childs --------------------------------
  // [root]__header
  &__header {
    @include fontsize(18);
    cursor: pointer;
    width: 100%;
    margin-top: 2px;
    display: block;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 300ms ease-in-out;
    line-height: 1;<% if (projectbreakpoints === 'EQCSS') { %>

    @include eqr($root, (min-width: #{v($api,breakpoint)})) {
      margin-right: 0.2rem;
      margin-top: 0;
      width: auto;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }<% } else { %>
    #{$root}#{cq('width >= #{v($api,breakpoint)}')} & {
      margin-right: 0.2rem;
      margin-top: 0;
      width: auto;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }<% } %>

    #{$root}--s-default & {
      color: lighten(c('primary'),0);
      padding-right: 10px;
    }

    // Style Modifier
    #{$root}--s-style1 & {
      @include padding(10);
      background-color: lighten(c('gray'),45);
    }
  }

  // [root]__body
  &__body {
    flex-grow: 1;
    width: 100%;
    display: none;<% if (projectbreakpoints === 'EQCSS') { %>

    @include eqr($root, (min-width: #{v($api,breakpoint)})) {
      -webkit-box-ordinal-group: 100;
      order: 99;
    }<% } else { %>
    #{$root}#{cq('width >= #{v($api,breakpoint)}')} & {
      -webkit-box-ordinal-group: 100;
      order: 99;
    }<% } %>

    *:last-child {
      margin-bottom: 0;
    }

    #{$root}--s-default & {
      padding-top: 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid lighten(c('gray'),40);
    }

      // Style Modifier
    #{$root}--s-style1 & {
      background-color: lighten(c('gray'),56);
      border: 1px solid lighten(c('gray'),50);
      @include padding(20px);
    }
  }

  // [root]__input
  &__input {
    position: absolute;
    opacity: 0;

    &:checked {
      & + #{$root}__header {

        #{$root}--s-default & {
          color: lighten(c('main'),20);
        }

        #{$root}--s-style1 & {
          background-color: lighten(c('primary'),10);
          color: c('white');
        }
      }

      & + #{$root}__header + #{$root}__body { display: block; }
    }

  }
}
