/*
  Viewport Span
  =============
  The Viewportspan, the regular PageBorder can overlap the viewport margin. This is somewhat flawed on window systems (the scrollbar is placed on the window system in the viewport). Alternatively, the viewportspan can be used as a regular container.
*/
.o-viewportspan {
  // Component Config
  $api: (
    selector: 'viewportspan',
    breakpoint: 'm',
    margin-bottom: s(1)
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Base Style ----------------------------
  margin-bottom: v($api,margin-bottom);
  position: relative;
  overflow: hidden;

  // Container Layout
  &--ascontainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  // Overlapping Container Layout
  &--asspan {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    // Fallback for Windows Systems
    .windows & {
      width: 99vw;
      margin-left: -49.5vw;
      margin-right: -49.5vw;
    }
  }

  // Base Modifier -------------------------
  // [root]--fullheight
  &--fullheight {
    height: 100vh;
  }

  // [root]--s-default
  &--s-default {
    background-color: #e6e6e6;
    padding-top: s(1);
    padding-bottom: s(1);
  }

  // Childs --------------------------------
  // [root]__inner
  &__inner {
    @extend .o-container;

    *:last-child {
      margin-bottom: 0;
    }
  }
}
