<div class="o-mediabox o-mediabox--colored o-mediabox--c-gray o-mediabox--half" role="group" itemscope itemtype="http://schema.org/MediaObject">
  <div class="o-mediabox__media">
    <img data-sizes="auto" src="images/slide3--300.jpg" data-srcset="images/slide3--800.jpg 800w, images/slide3--600.jpg 600w, images/slide3--300.jpg 300w " class="o-mediabox__image lazyload" role="img" alt="" itemprop="thumbnail">
  </div>
  <div class="o-mediabox__body">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
  </div>
</div>

<div class="o-mediabox o-mediabox--right o-mediabox--quarter" role="group" itemscope itemtype="http://schema.org/MediaObject">
  <div class="o-mediabox__media">
    <img data-sizes="auto" src="images/slide4--300.jpg" data-srcset="images/slide4--800.jpg 800w, images/slide4--600.jpg 600w, images/slide4--300.jpg 300w " class="o-mediabox__image lazyload" role="img" alt="" itemprop="thumbnail">
  </div>
  <div class="o-mediabox__body">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
  </div>
</div>
