// ===================================================
// Modernizr
//
// Author: Daniel Guillan
//
// @link https://github.com/danielguillan/modernizr-mixin
// ===================================================

/**
 * Generate a chained class list off modernizr classes
 *
 * @param  {List}  $features - The checked features
 * @param  {Bool}  $supports - Internal yep nope routing
 */
@mixin modernizr($features, $supports) {
  $internal-check: true;
  $prefix: if($supports, '', 'no-');
  $selector: if($supports, '', (unquote('.no-js')));
  $placeholder: if($supports, '%yep', '%nope');

  // Generate placeholder and selectors
  @each $feature in $features {

    @if type-of($feature) != string {
      $internal-check: false;
      @warn '"#{$feature}" is not a string for "modernizr"';

    } @else {
      $placeholder: $placeholder + '-' + $feature;
      $new-selector: #{'.' + $prefix + $feature};
      $selector: if($supports, $selector + $new-selector, append($selector, $new-selector, comma));
    }
  }

  @if $internal-check == true {
    #{$placeholder} & {
      @content;
    }

    @at-root #{$selector} {
      @extend #{$placeholder};
    }
  }
}

/**
 * Route the Yep Styling
 *
 * @param  {List}  $features - The checked features
 */
@mixin yep($features...) {
  @include modernizr($features, $supports: true) {
    @content;
  }
}

/**
 * Route the Nope Styling
 *
 * @param  {List}  $features - The checked features
 */
@mixin nope($features...) {
  @include modernizr($features, $supports: false) {
    @content;
  }
}
