// ===================================================
// Wireframe Generator
// ===================================================

// Generate Stylingclasses for Wireframes
//
// @requires color-scale()
//
// @param {Map} $wire
//  - levels {Number} - How many levels the wire classes are nested
//  - colors {List} - Color Values, min and max
//
// @example
//    <div class="wire" data-title="header"></div>
@mixin wireframe-generator($wire) {
  // Setup
  $wire: map-merge((
    levels: 10,
    color: #fbfbfb #8d8d8d
  ),$wire);

  // Default Vars
  $s: null;
  $selector: &;

  @at-root {
    // Setup Base Wireframe Style
    #{$selector} {
      min-height: 1px;
      overflow: hidden;
      position: relative;

      &:before {
        content: attr(data-title);
        @include pivot-center;
        color: darken(nth(map-get($wire,color),2),10);
        font-size: 16px;
        text-transform: lowercase;
      }
    }

    // Build individual wireframe styles
    @for $i from 1 through map-get($wire,levels) {

      // Extend the Selector
      $s: append($s, $selector);

      $c: color-scale(nth(map-get($wire,color),1) nth(map-get($wire,color),2), map-get($wire,levels), $i);

      #{$s} {
        background-color: $c;
      }
    }
  }
}
