/*
  Gallery
  =======
  Creates a gallery object in two different layouts. The simple layout lays the images together, the smart layout tries to arrange the images in the photogrid. Pictures can be enlarged on click. You can also use the gallery for individual images.
*/
.c-gallery {
  $api: (
    breakpoint: 'sm',
    margin-bottom: s(1),
    gutter: 2px
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Base Style --------------------
  margin-bottom: api(margin-bottom);
  overflow: hidden;

  // Base Modifier -----------------
  &#{$root}--moreimages {
    margin-left: 0 - api(gutter);
    margin-right: 0 - api(gutter);
  }

  // Layoutmod for Simplelayout
  &#{$root}--l-simple {
    &:not(#{$root}--noFlex) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &#{$root}--moreimages {
        @include break(api(breakpoint)) {
          flex-wrap: nowrap;
        }
      }
    }

    &#{$root}--noFlex {
      display: block;
    }
  }

  // Layoutmod for Smartlayout
  &#{$root}--l-smart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  // Component Elements ------------

  // [root]__figure
  &__figure {
    margin-bottom: api(gutter) * 2;

    #{$root}--moreimages & {
      padding-left: api(gutter);
      padding-right: api(gutter);
    }

    // For Simple Layout
    #{$root}--l-simple:not(#{$root}--noFlex) & {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      max-width: calc(50% - #{2 * api(gutter)});
    }

    // Simple Layout without Flexbox
    #{$root}--l-simple#{$root}--noFlex & {
      float: left;

      @include break(api(breakpoint)) {
        max-width: auto;
      }
    }

    // Modifier for display one single Image
    #{$root}--l-simple:not(#{$root}--moreimages) &,
    #{$root}--l-smart:not(#{$root}--moreimages) & {
      max-width: inherit;
      /* stylelint-disable */
      img {
        max-height: 90vh;
        object-fit: cover;
      }
      /* stylelint-enable */
    }

    // Overwrite Flex for one Single Image
    #{$root}--l-smart:not(#{$root}--moreimages) & {
      flex-grow: 1;
    }

    // For Smart Layout
    #{$root}--l-smart & {
      flex-grow: 0;
      flex-shrink: 1;
    }

    // Smart Layout Colums
    #{$root}--l-smart#{$root}--2 & {
      flex-basis: 50%;
    }

    #{$root}--l-smart#{$root}--3 & {
      flex-basis: 33.3%;
    }

    #{$root}--l-smart#{$root}--4 &{
      flex-basis: 33.33%;

      &:nth-of-type(-n+1) {
        flex-basis: calc(100%);
        max-height: 40vh;
        overflow: hidden;

        img {
          object-fit: cover;
          object-position: 0 50%;
          height: 100%;
        }
      }
    }

    #{$root}--l-smart#{$root}--5 & {
      flex-basis: 33.3%;

      &:nth-of-type(-n+2) {
        flex-basis: 50%;
      }
    }

    #{$root}--l-smart#{$root}--6 & {
      flex-basis: 25%;

      &:nth-of-type(-n+2) {
        flex-basis: 50%;
      }
    }

    #{$root}--l-smart#{$root}--7 & {
      flex-basis: 25%;

      &:nth-of-type(-n+3) {
        flex-basis: 33.3%;
      }
    }

    #{$root}--l-smart#{$root}--8 & {
      flex-basis: 20%;

      &:nth-of-type(-n+3) {
        flex-basis: 33.3%;
      }
    }

    #{$root}--l-smart#{$root}--9 & {
      flex-basis: 20%;

      &:nth-of-type(-n+4) {
        flex-basis: 25%;
      }
    }

    #{$root}--l-smart#{$root}--unlimited & {
      flex-basis: 20%;
    }
  }

  // [root]__caption
  &__caption {
    padding-top: 5px;
    font-size: 90%;
    color: c('gray');
    text-align: center;

    // [root]---hidden
    @include instance(hidden) {
      display: none;
    }
  }
}
