// ===================================================
// Breakpoint Helper
// ===================================================

// Break
// Get a breakpoint from the Map and build the Media Query
//
// @param  {*}      $target - Required Breakpoint
// @param  {string} $mode   - Media Query Mode. (between, max, min ,[auto])
// @param  {map}    $list   - Connection to the Breakpoint Map [$kittn-breakpoint-map]
@mixin break($target, $mode: auto, $list: $kittn-breakpoint-map) {
  // Between two values
  @if $mode == between {

    // Check the Length
    @if length($target) == 2 {
      // Get the Targets
      $target-1: strip-units(nth($target,1));
      $target-2: strip-units(nth($target,2));

      // Get the Sizes
      $size-1: unit-check(bp($target-1,$list));
      $size-2: unit-check(bp($target-2,$list));

      // Associate the highest size with Max, and the lowest size with min
      $size-min: if($size-1 < $size-2, $size-1, $size-2);
      $size-max: if($size-2 > $size-1, $size-2, $size-1);

      // Modify Size for mobile-first
      $size-min: if(map-get($kittn-activate, mobile-first), $size-min, $size-min + 1);
      $size-max: if(map-get($kittn-activate, mobile-first), $size-max + 1, $size-max);

      // Insert the Media Query
      @media screen and (min-width: $size-min) and (max-width: $size-max) {
        @content;
      }
    } @else {
      @warn "You have to use two values on '$target' for a breakpoint that sit between."
    }

  } @else {
    // Reduce Target to one when needed
    @if length($target) > 1 { $target: nth($target,1); }

    // Remove Units from $target
    $target: strip-units($target);

    // Get Size from the Map
    $size: unit-check(bp($target,$list));

    @if $mode == auto {
      @if map-get($kittn-activate, mobile-first) {
        $size: $size;
        @media screen and (min-width: $size) { @content; }

      } @else {
        $size: $size - 1;
        @media screen and (max-width: $size) { @content; }
      }
    } @else {
      // Setup for different Modes
      @if $mode == max {
        $size: if(map-get($kittn-activate, mobile-first) == true, $size + 1, $size);
      } @else {
        $size: if(map-get($kittn-activate, mobile-first) == true, $size, $size + 1);
      }

      // Insert the Media Query
      @media screen and (#{if($mode == max, max, min)}-width: $size) {
        @content;
      }
    }
  }
}


