// ===================================================
// Fontface Generator
// ===================================================

// Generate the Font-Face
//
// @param {string}  $filename            - The Filename of the Fontname
// @param {string}  $fontname            - The Desired Fontname
// @param {string}  $fontweight (normal) - Fontweight
// @param {string}  $fontstyle (normal)  - Fontstyle
// @param {bool}    $svgoption (true)    - Activate the addition route to the SVG Font
@mixin fontface($filename, $fontname: $filename, $fontweight: normal, $fontstyle: normal, $svgoption: true) {
  // Standardfont
  @font-face {
    font-family: $fontname;
    src: url('#{map-get($kittn-directorys, fonts)}#{$filename}.eot');
    src: url('#{map-get($kittn-directorys, fonts)}#{$filename}.eot?#iefix') format('eot'),
         url('#{map-get($kittn-directorys, fonts)}#{$filename}.woff') format('woff'),
         url('#{map-get($kittn-directorys, fonts)}#{$filename}.ttf') format('truetype'),
         url('#{map-get($kittn-directorys, fonts)}#{$filename}.svg##{$filename}') format('svg');
    font-weight : $fontweight;
    font-style  : $fontstyle; }

  @if $svgoption {
    // Hard route to SVG Fonts for sharper Results on webkit browsers
    @include jacket(modern) {
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
          font-family: $fontname;
          src: url('#{map-get($kittn-directorys, fonts)}#{$filename}.svg') format('svg');
          font-weight : $fontweight;
          font-style  : $fontstyle;
        }
      }
    }
  }
}
