// ===================================================
// ZLayer
// ===================================================

// Get the Named Z-Index from the z-map
//
// @param  {*}   $layer - The layer to use
// @param  {Map} $z-layers ($kittn-zlayer-map) - Connection through Z-Map
//
// @returns {Number}
@function z($layer, $z-layers: $kittn-zlayer-map) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No z-index found in $z-layers map for '#{$layer}'. Possible ZLayers: #{map-keys($z-layers)}";
    @return null;
  } @else {
    @return map-get($z-layers, $layer);
  }
}

// Get the associated Z-Index from the Map,
// build the Z-Index
//
// @param  {*}       $layer - The layer to use
// @param  {number}  $offset - Add or substract an offset
@mixin z($layer, $offset: 0) {

  // Setup Var
  $o: 0;

  // Check if Offset is a Number
  @if type-of($offset) == 'number' {
    $o: if($offset != 0, round(strip-units($offset)),0);
  } @else {
    @warn 'Offset is not a number';
  }

  // Insert Z-Index
  z-index: z($layer) + $o;
}
