//- Extend Base Layout
extend templates/_layout-default

//- Extend the Head
block append site-head

//- Extend Body
block site-body
  //- Insert your Main Content here

//- Extend Footer
block append site-footer
  //- Insert your Footer Content

