/*
  Mediaimage
  ==========
  Image Container Element, can overlap Pageborder
*/
.o-mediaimage {
  // Component Config
  $api: (
    breakpoint: 'm'
  );

  // Build Root and Rootname
  $root: #{&};
  // Rootname only for prefixing Extends
  $rn: str_slice($root,4);

  // API Grabber
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }

  // Local Style Storage  -------------------
  // Store  : %#{$rn}--example { color: red; }
  // Unload : @extend %#{$rn}--example;

  // Base Style ----------------------------
  margin: 0 auto s(1) auto;
  position: relative;

  // Tags ----------------------------------

  // Base Modifier -------------------------
  &#{$root}--maxheight {
    height: 100vh;
    overflow: hidden;
  }

  // Style Modifier
  &#{$root}--s-style1 {
    #{$root}__image {}
  }

  // Childs --------------------------------
  // [root]__image
  &__image {}

  // [root]__caption
  &__caption {
    padding-top: 5px;
    font-size: 90%;
    color: c('gray');
    text-align: center;

    #{$root}--maxheight & {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 5px;
      background-color: rgba(c('white'),.4);
      color: c('main');
    }
  }
}
