// ===================================================
// Alignment
// ===================================================

// Mixin to Insert Height and Lineheight on a Simple Way
//
// @param  {number} $height - Height
// @param  {number} $factor - Multiplier
@mixin align-height($height, $factor: 1) {
  height: if(unitless($height), $height + 0px, $height);
  line-height: if(unitless($height), $height + 0px, $height) * strip-units($factor);
}

// Mixin to Insert Height and Lineheight on a Simple Way
//
// @param  {number} $size   - Fontsize
// @param  {number} $factor - Multiplier
@mixin align-fontsize($size, $factor: 1.2) {
  font-size: if(unitless($size), $size + 0px, $size);
  line-height: if(unitless($size), $size + 0px, $size) * strip-units($factor);
}

// Center and Middle a Element in a box
//
// @param  {number} $size - Width and/or Height
@mixin center($size) {
  @include size($size, $size);
  text-align: center;
}

// Center Circle
//
// @param  {value}  $size - Size of the Circle
@mixin center-circle($size) {
  @include center($size);
  border-radius: if(unitless($size), $size + 0px, $size);
}
