// ===================================================
// Bar Elements
// ===================================================

// Bar
// ===
// Style for Bar Elements
//
// @param  {string} $variant  - Position Variant (f = fixed, a = absolute)
// @param  {string} $position - Position (t = Top, b = Bottom, l = Left, r = Right)
// @param  {number} $z-index  - Z-Index [9999]
//
// @example
//   .header {
//     @include bar($variant: f, $position: t);
//   }
//
// @output
//   .header {
//     position: fixed;
//     z-index: 9999;
//     top: 0;
//     left: 0;
//     width: 100%;
//   }
@mixin bar($variant, $position, $z: 9999) {

  // Set the position variant
  @if $variant == f {
    position: fixed;
  } @else {
    position: absolute;
  }

  // Set the z-index
  z-index: $z;

  // Set Position and Dimension
  @if $position == l {
    left: 0;
    top: 0;
    height: 100%;

  } @else if $position == r {
    right: 0;
    top: 0;
    height: 100%;

  } @else if $position == b {
    bottom: 0;
    left: 0;
    width: 100%;

  } @else {
    top: 0;
    left: 0;
    width: 100%;
  }
}

// Bar Top
// =======
// Set for a Barelement at the top from the Viewport or Document
//
// @require {mixin} bar
//
// @param  {number} $z       - Z-Index
// @param  {string} $variant - Position Variant ([f = fixed], a = absolute)
//
// @example
//   .header {
//     @include bar-top($z: 10, $variant: a);
//   }
//
// @output
//   .header {
//     position: absolute;
//     z-index: 10;
//     top: 0;
//     left: 0;
//     width: 100%;
//   }
@mixin bar-top($z: 9999, $variant: f) {
  @include bar($variant, t, $z);
}

// Bar Bottom
// ==========
// Set for a Barelement at the bottom from the Viewport or Document
//
// @require {mixin} bar
//
// @param  {number} $z       - Z-Index
// @param  {string} $variant - Position Variant ([f = fixed], a = absolute)
//
// @example
//   .footer {
//     @include bar-bottom();
//   }
//
// @output
//   .footer {
//     position: fixed;
//     z-index: 9999;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//   }
@mixin bar-bottom($z: 9999, $variant: f) {
  @include bar($variant, b, $z);
}
