// ===================================================
// Position
// ===================================================

// Shorthand for Relative positioning
//
// one value = top, two values = top left, four values = top right bottom left.
// For Zero Position (0) set the value to 'z'
//
// @param {list}   $pos - Position Values [0]
@mixin relative($pos: 0) {
  position: relative;
  @include pos($pos);
}

// Shorthand for Absolute positioning
//
// one value = top, two values = top left, four values = top right bottom left.
// For Zero Position (0) set the value to 'z'
//
// @param {list}   $pos - Position Values [0]
@mixin absolute($pos: 0) {
  position: absolute;
  @include pos($pos);
}

// Shorthand for Fixed positioning
//
// one value = top, two values = top left, four values = top right bottom left.
// For Zero Position (0) set the value to 'z'
//
// @param {list}   $pos - Position Values [0]
@mixin fixed($pos: 0) {
  position: fixed;
  @include pos($pos);
}

// Shorthand for Static positioning reset all position values
@mixin static {
  position: static;
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: inherit;
}

