// ===================================================
// Ratio Calculator
// ===================================================

// A Floating Grid System
//
// @param  {list}   $ratio    - Ratio between width and height [1]
// @param  {string} $selector - Use the following child element or a named selector [false]
@mixin ratio($ratio: 1, $selector: false) {

  $sel: null;
  $rat1: null;
  $rat2: null;

  @if length($ratio) == 2 {
    $rat1: strip-units(nth($ratio,1));
    $rat2: strip-units(nth($ratio,2));

  } @else {
    $rat1: strip-units($ratio);
    $rat2: strip-units($ratio);
  }

  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 0;
    padding-top: ($rat2 / $rat1) * 100%;
  }

  @if $selector != false {
    $sel: '& > #{$selector}';
  } @else {
    $sel: '& > *';
  }

  #{$sel} {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @content;
  }
}

// Reset Ratio
//
// @param  {string} $selector - Use the following child element or a named selector [false]
@mixin unratio($selector: false) {
  $sel: null;

  &:before {
    height: auto;
    padding-top: 0;
  }

  @if $selector != false {
    $sel: '& > #{$selector}';
  } @else {
    $sel: '& > *';
  }

  #{$sel} {
    position: inherit;
    left: inherit;
    top: inherit;
    height: inherit;
    width: inherit;
    @content;
  }
}
