// ===================================================
// Restack
// ===================================================

// Gives a Layer a new Z-Index
//
// @param  {number} $index    - Z-index
// @param  {number} $offset   - Z-index Offset [0]
// @param  {string} $position - Position. ([false], r = relative, a = absolute, f = fixed)
@mixin restack($index, $offset: 0, $position: false) {

  // If 'position' is false no position value will be added
  @if $position != false {
    @if $position == r {
      position: relative;
    }
    @if $position == a {
      position: absolute;
    }
    @if $position == f {
      position: fixed;
    }
  }

  // If Index is a number set the z-index in free mode
  @if type-of($index) == 'number' {
    z-index: $index + $offset;
  } @else {
    @include z($index, $offset);
  }
}
