// ===================================================
// Placeholder Class
// ===================================================

// Block Center
// ============
// Shorthand for centering Elements
//
// @param {Bool} $extend - Set it on false the mixin will used as regular mixin [:true]
@mixin block-center($extend: true) {
  @if $extend {
    @extend %block-center;

  } @else {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// Placeholder Class
%block-center {
  @include block-center(false);
}
