// ===================================================
// Placeholder Class
// ===================================================

// Clearfix
// @description Close Floats
//
// @param {bool} $extend - Set it on false the mixin will used as regular mixin [:true]
@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;

  } @else {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

// Placeholder Class
%clearfix {
  @include clearfix(false);
}
