// ===================================================
// Placeholder Class
// ===================================================

// Simpler Cleartext
//
// @param {Bool} $extend - Set it on false the mixin will used as regular mixin [:true]
@mixin cleartext-simple($extend: true) {
  @if $extend {
    @extend %cleartext-simple;

  } @else {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

// Placeholder Class
%cleartext-simple {
  @include cleartext-simple(false);
}
