// ===================================================
// Placeholder Class
// ===================================================

// Allows vertical centering of elements with unknown dimensions.
//
// @param {Bool} $extend - Set it on false the mixin will used as regular mixin [:true]
@mixin vertical-align($extend: true) {
  @if $extend {
    @extend %vertical-align;

  } @else {
    &:after {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// Placeholder Class
%vertical-align {
  @include vertical-align(false);
}
