/*
  fb-equalColumn
  ==============
  Two Column Flexbox Layout
*/
.e-fb-equalColumn {
  $api: (
    breakpoint: 'm',
    gutter: 20px
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};
  $rn: str_slice($root, 4);

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }
  // For getting values from lists
  @function apin($nth, $keys...) {
    @return nth(map-deep-get($api, $keys...), $nth);
  }

  // ::::::::: BASE
  display: flex;
  flex-direction: column;

  @include break(api(breakpoint)) {
    flex-direction: row;
    justify-content: space-between;
  }

  // ::::::::: TAGS
  // ::::::::: MODIFIER
  // ::::::::: CHILDS

  // [root]__box1
  &__box {
    @include break(api(breakpoint)) {
      width: 0;
      flex: 1;
      margin-left: api(gutter);
      margin-right: api(gutter);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
