/*
  gl-exampleGrid
  =====
  A Grid Example
*/
.e-gl-twoColumn {
  $api: (
    breakpoint: 'm',
    grid: (
      associated: (
        box1: '__box1' false,
        box2: '__box2' false
      ),
      sets: (
        set1: (
          breakpoint: false,
          column-gap: false,
          row-gap: 10px,
          columns: 1fr,
          rows: auto auto auto,
          areas: (
            row1: (box1),
            row2: (box2)
          )
        ),
        set2: (
          breakpoint: 'm',
          column-gap: 50px,
          row-gap: false,
          columns: 1fr 1fr,
          rows: auto,
          areas: (
            row1: (box1 box2)
          )
        ),
        set3: (
          breakpoint: 'width >= 1000px',
          column-gap: 100px,
          row-gap: false,
          columns: 1fr auto 1fr,
          rows: auto,
          areas: (
            row1: (box1 '.' box2)
          )
        )
      ),
    )
  );

  // ::::::::: ROOT SELECTOR
  $root: #{&};
  $rn: str_slice($root, 4);

  // ::::::::: API GRABBER
  @function api($keys...) {
    @return map-deep-get($api, $keys...);
  }
  // For getting values from lists
  @function apin($nth, $keys...) {
    @return nth(map-deep-get($api, $keys...), $nth);
  }

  // ::::::::: BASE
  @include cssgrid-generator(api(grid), $root);

  // ::::::::: TAGS
  // ::::::::: MODIFIER
  // ::::::::: CHILDS
}
