// ===================================================
// Fluid Type
// ===================================================

/// Make a Font Fluid
///
/// @param   {list}  $fontsize - Min and Max Fontsize in px
/// @param   {list}  $screensize - [default:false] Min and Max Screensize
///                                on false it uses the biggest and the smallest size
///                                from the breakpoint Map
///
/// @return {string}  a String for Calc
@function ft($fontsize, $screensize: false) {
  $fMin : strip-units(nth($fontsize,1));
  $fMax : strip-units(nth($fontsize,2));

  $sMin: null;
  $sMax: null;

  @if( $screensize != false ) {
    $sMin : strip-units(nth($screensize,1));
    $sMax : strip-units(nth($screensize,2));
  } @else {
    $sMin : strip-units(map-deep-get($kittn-breakpoint-map,map-first-index($kittn-breakpoint-map),size));
    $sMax : strip-units(map-deep-get($kittn-breakpoint-map,map-last-index($kittn-breakpoint-map),size));
  }

  @return calc(#{$fMin + 0px} + (#{$fMax} - #{$fMin}) * (100vw - #{$sMin + 0px}) / (#{$sMax} - #{$sMin});
}
