<nav class="o-jumpnavigation" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
  <a itemprop="url" role="button" href="#achor1" class="o-jumpnavigation__link js-smooth-scroll">Anker 1</a>
  <a itemprop="url" role="button" href="#anchor2" class="o-jumpnavigation__link js-smooth-scroll">Anker 2</a>
</nav>

<nav class="o-jumpnavigation o-jumpnavigation--s-style1 o-jumpnavigation--l-fullwidth" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
  <a itemprop="url" role="button" href="#anchor1" class="o-jumpnavigation__link js-smooth-scroll">Anker 1</a>
  <a itemprop="url" role="button" href="#anchor2" class="o-jumpnavigation__link js-smooth-scroll">Anker 2</a>
</nav>
