{#
 # News Archive Template
 # -------------------
 #}

{# Define a Entry Var - otherwise you get Errors on Channel Pages #}
{% set myentry = {
  'slug': 'news'
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  <div class="o-layout__container">
    <h1>{{ myentry.slug }}</h1>

    {# Build Query #}
    {% set entries = craft.entries({
      section: myentry.slug,
      sort: 'postDate',
      relatedTo: (category is defined ? category : false),
      limit: 10
    }) %}
    {# Initiate the Pagination #}
    {% paginate entries as pageInfo, pageEntries %}
    {# Loop through entries #}
    {% for entry in pageEntries %}
      <article>
        <p>{{ entry.postDate.format('d.F Y') }}</p>
        <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
        {{ entry.body.getPage(1) }}
        <p><a href="{{ entry.url }}">Weiterlesen</a></p>
      </article>
    {% endfor %}

    {# Include Pagination #}
    {{ myMacro.pagination(pageInfo,craft) }}
  </div>
{% endblock %}
