{#
 # News Archive Template
 # -------------------
 #}

{% extends '_layout/main-layout.html' %}

{% block content %}
  <div class="o-layout__container">
    <h1>News</h1>
    {% for entry in craft.entries.section('news').find() %}
      <article>
        <p>{{ entry.postDate.format('d.F Y') }}</p>
        <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
        {{ entry.body.getPage(1) }}
        <p><a href="{{ entry.url }}">Weiterlesen</a></p>
      </article>
    {% endfor %}
  </div>
{% endblock %}
