<div class="o-tab o-tab--s-default" role="tablist">
  <input type="radio" name="tabs" id="tg3393-e0" class="o-tab__input" checked="checked" role="tab">
  <label class="o-tab__header" for="tg3393-e0">Tab 1</label>
  <div class="o-tab__body" role="tabpanel">
    <div class="o-tab__inner">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
    </div>
  </div>
  <input type="radio" name="tabs" id="tg3393-e1" class="o-tab__input"  role="tab">
  <label class="o-tab__header" for="tg3393-e1">Tab 2</label>
  <div class="o-tab__body" role="tabpanel">
    <div class="o-tab__inner">
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<div class="o-tab o-tab--s-style1" role="tablist">
  <input type="radio" name="tabs" id="tg2257-e0" class="o-tab__input" checked="checked" role="tab">
  <label class="o-tab__header" for="tg2257-e0">Tab 1</label>
  <div class="o-tab__body" role="tabpanel">
    <div class="o-tab__inner">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </div>
  <input type="radio" name="tabs" id="tg2257-e1" class="o-tab__input"  role="tab">
  <label class="o-tab__header" for="tg2257-e1">Tab 2</label>
  <div class="o-tab__body" role="tabpanel">
    <div class="o-tab__inner">
      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
  </div>
</div>
