/**
 * This map hold all retina sprites
 *
 * @type Map
 */
$map-sprites-retina: (
  {{#items}}
  {{name}}: (
    width: {{px.width}},
    height: {{px.height}},
    positionX: {{px.offset_x}},
    positionY: {{px.offset_y}},
    mapWidth: {{px.total_width}},
    mapHeight: {{px.total_height}}
  ),
  {{/items}}
);
