{#
  <%= moduleName %>
  =================
  Description
#}

{# Module defaults #}
{% set _<%= moduleName %> = {
  name: '<%= moduleName %>'
} %}

{# Build Element Block #}
<div class="<% if(moduleType === 'cb') { %>c<% } else { %><%= moduleType %><% } %>-<%= moduleName %>">
  {{ _<%= moduleName %>.name }}
</div>
