// Copy the all Icon Classes from the Icomoon Style file and paste it in this file
// All Icons from a Icon-Font are listet in this Map
//
// @type Map

$kittn-font-icons: (
  // name: 'code' => example
);
