{#
  Global Page Template
  =====================
 #}

 {# Import Section Grouping Macro #}
{% import '_macros/section-macro.html' as sectionSelect %}

{# Extract Template Handle #}
{% set templateHandle = sectionSelect.sec(entry) %}

{# Subtemplate Setup #}
{% set _t = {
  sectionHomeURL: templateHandle,
  bodyclass: templateHandle ~ ' pages',
  templatename: 'general/pages'
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  {% cache globally using key templateHandle ~ "-pages-" ~ craft.request.path %}
    <div class="o-area__container">

      {# Include Featured Image #}
      {% include '_components/featuredImage.html' with { data: entry } %}

      {# Add Content Builder #}
      {% include '_builder/content-builder.html' %}

      {# Add individual page parts based on the respective entry name #}
      {% switch templateHandle %}
        {% case 'blog' %}
          {% if entry.slug in ['kategorien'] %}
            {% include '_components/glossaryCategory.html' with { data: templateHandle~'Categories' } %}
          {% endif %}

        {% default %}

      {% endswitch %}
    </div>
  {% endcache %}
{% endblock %}
