{#
 # 404 template
 # ------------
 #}

{# Subtemplate Setup #}
{% set _t = {
  bodyclass: 'error-404',
  slug: '',
  templatename: '404'
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  {% set entry = craft.entries.uri('404').first() %}

  <div class="o-area__container">
    {# Include Featured Image #}
    {% include '_components/featuredImage.html' with { data: entry } %}

    <h1>{{ 'Error 404!'|t }}</h1>

    {# If Contentbuilder is used on this page the default Content is hidden #}
    {% if entry.contentBuilder.level(1) | length %}
      {% include '_builder/content-builder.html' %}

    {% else %}
      <p>{{ 'Die gesuchte Seite wurde nicht gefunden.'|t }}</p>
      <div class="o-button">
        <a href="{{ siteUrl }}" class="o-button__element o-button--s-default">{{ 'Zur Startseite'|t }}</a>
      </div>
    {% endif %}

  </div>
{% endblock %}
