{#
  Content Builder Modules Collection
  ==================================
  Ready for binding in other Content Builder
#}

{% switch data.type %}
  {# Headline Module #}
  {% case 'objHeadline' %}
    {% include '_components/headline' with {
      data: data.objHeadline,
      options: data.setHeadline
    } %}

  {# Richtext Module #}
  {% case 'objRichtext' %}
    {% include '_components/richtext' with {
      data: data.objRichtext,
      options: data.setRichtext
    } %}

  {# Markdown Module #}
  {% case 'objMarkdown' %}
    {% include '_components/markdown' with {
      data: data.objMarkdown,
      options: data.setMarkdown
    } %}

  {# List Module #}
  {% case 'objList' %}
    {% include '_components/list' with {
      data: data.objList,
      options: data.setList,
      name: ''
    } %}

  {# Horizontal Ruler #}
  {% case 'objHorizontalRuler' %}
    {% include '_components/horizontalRuler' with {
      data: data.objHorizontalRuler,
      name: ''
    } %}

  {# Quote Module #}
  {% case 'objQuote' %}
    {% include '_components/quote' with {
      data: data.objQuote,
      options: data.setQuote,
      name: ''
    } %}

  {# Media Image Module #}
  {% case 'objMediaImage' %}
    {% include '_components/mediaImage' with {
      data: data.objMediaImage,
      options: data.setMediaImage,
      name: ''
    } %}

  {# Embed Module #}
  {% case 'objEmbedContent' %}
    {% include '_components/embedContent' with {
      data: data.objEmbedContent,
      options: data.setEmbedContent,
      name: ''
    } %}

  {# Button Module #}
  {% case 'objButton' %}
    {% include '_components/button' with {
      data: data.objButton,
      options: data.setButton,
      name: ''
    } %}

  {# Gallery #}
  {% case 'objGallery' %}
    {% include '_components/gallery' with {
      data: data.objGallery,
      options: data.setGallery,
      name: ''
    } %}

  {# SlideOut Box #}
  {% case 'objSlideOutBox' %}
    {% include '_components/slideOutBox' with {
      data: data.objSlideOutBox,
      options: data.setSlideOutBox,
      name: ''
    } %}

  {# Card #}
  {% case 'objCard' %}
    {% include '_components/card' with {
      data: data.objCard,
      options: data.setCard,
      name: ''
    } %}

  {# Anchor #}
  {% case 'objAnchor' %}
    {% include '_components/anchor' with {
      data: data.objAnchor,
      options: data.setAnchor,
      name: ''
    } %}

  {# JumpNavigation #}
  {% case 'objJumpNavigation' %}
    {% include '_components/jumpNavigation' with {
      data: data.objJumpNavigation,
      options: data.setJumpNavigation,
      name: ''
    } %}

  {# Spacer #}
  {% case 'objSpacer' %}
    {% include '_components/spacer' with {
      data: data.objSpacer,
      name: ''
    } %}

  {# Image Slider Module #}
  {% case 'objImageSlider' %}
    {% include '_components/imageSlider' with {
      data: data.objImageSlider,
      options: data.setImageSlider,
      setup: data.setSliderSetup,
      general: data.setSliderSetupGeneral,
      name: ''
    } %}

  {# Text Slider Module #}
  {% case 'objCardSlider' %}
    {% include '_components/cardSlider' with {
      data: data.objCardSlider,
      options: data.setCardSlider,
      setup: data.setSliderSetup,
      general: data.setSliderSetupGeneral,
      name: ''
    } %}

  {# Accordions #}
  {% case 'objAccordionWrapper' %}
    {% include '_components/accordion' with {
      data: data.objAccordionWrapper,
      name: ''
    } %}

  {# Tabs #}
  {% case 'objTabWrapper' %}
    {% include '_components/tab' with {
      data: data.objTabWrapper,
      name: ''
    } %}

  {# Section #}
  {% case 'objSection' %}
    {% include '_components/section' with {
      data: data.objSection,
      options: data.setSection,
      layout: data.setSectionLayout,
      background: data.setSectionBackground,
      name: ''
    } %}

{% endswitch %}























