// ===================================================
// Color Stack Generator
// ===================================================

// Generate Stack off individual Colors
//
// @requires color-stack()
//
// @param  {map}    $o           - Setup Vars
//         {list}   $o.color     - Color Values [#000 #000]
//         {list}   $o.stacks    - Individual steps between the color mix [30 60 90]
//         {*}      $o.attribute - Attribute [background-color]
//         {bool}   $o.extend    - For extending the classes with other Classes [false]
@mixin color-stack-generator($o: ()) {
  // Default Setup
  $o: map-merge((
    color: #000 #fff,
    stacks: 30 60 90,
    attribute: background-color,
    extend: false
  ), $o);

  // Mixin need minimum two stack values
  @if length(map-get($o, stacks)) > 1 {

    // Build a Color List
    $cs: color-stack(map-get($o,color), map-get($o,stacks));

    // Generate the Classes
    @for $i from 1 through (length($cs)) {

      &#{map-get($kittn-bem, modifier)}#{$i - 1} {
        // Include the Attribute
        #{map-get($o, attribute)}: nth($cs,$i);

        // When the Classes need to be Extended
        @if map-get($o, extend) {
          @extend #{map-get($o, extend)};
        }
      }
    }
  } @else {
    @warn 'The Color-Stack need more the one stack value.';
  }
}
