// ===================================================
// Fontface Generator
// ===================================================

// Include all Font Faces from the Font Face Map
// Will be activated with Internal Functions
//
// @depend on fontface()
//
// @param  {map}    $map - Map
@mixin fontface-generator($map: $kittn-fontface-map ) {
  // Check if fontface mixin exists
  @if mixin_exists(fontface) {
    // Run through the map
    @each $name, $entry in $map {

      // Call the Mixin
      @include fontface(
        $fontname: $name,
        $o: (
          filename: map-get($entry,filename),
          weight: map-get($entry,weight),
          style: map-get($entry,style),
          short: map-get($entry,short)
        )
      );
    }
  } @else {
    @warn "Fontface mixin dosen't exists";
  }
}
