// ===================================================
// Fontface Generator
// ===================================================

// Include all Font Faces from the Font Face Map
// Will be activated with Internal Functions
//
// @depend on fontface.scss
@mixin fontface-generator($map: $kittn-fontface-map ) {
  @each $name, $entry in $map {
    $n: if(map-get($entry,filename) == false, $name, map-get($entry,filename));
    @include fontface(
      $fontname: $name,
      $o: (
        name: $n,
        weight: map-get($entry,weight),
        style: map-get($entry,style),
        svg: map-get($entry,svgoption)
      )
    );
  }
}
