// ===================================================
// Visibility Generator
// ===================================================

// Generate Visibility Classes
//
// @param {map}    $map - Map
@mixin visibility($map: $kittn-breakpoint-map ) {
  @each $name, $entry in $map {
    @if map-get($entry,visibility) {

      .hidden-to#{map-get($kittn-bem, modifier)}#{$name} {
        display: none;
        @include break($name, $mode: max) {
          display: inherit;
        }
      }

      .hidden-from#{map-get($kittn-bem, modifier)}#{$name} {
        @include break($name, $mode: min) {
          display: none;
        }
      }

      .visible-to#{map-get($kittn-bem, modifier)}#{$name} {
        @include break($name, $mode: max) {
          display: none;
        }
      }

      .visible-from#{map-get($kittn-bem, modifier)}#{$name} {
        display: none;
        @include break($name, $mode: min) {
          display: inherit;
        }
      }
    }
  }
}
