/*
  Pagelogo
  ========
  description

  **Elements**
*/
.c-pagelogo {
  // Component Config
  $api: (
    selector: 'pagelogo',
    breakpoint: 'm'
  );

  // Build root selector
  $root: '.c-#{v($api,selector)}';

  // Temp Style Storage  -------------------
  // Store  : @include store(storagename) {}
  // Unload : @include yield(storagename);

  // Base Style ----------------------------


  // Tags ----------------------------------

  // Base Modifier -------------------------

  // Childs --------------------------------

}
