{#
 # Blog Category Tempalte
 # -------------------
 #}

{# Subtemplate Setup #}
{% set templateBriefing = {
  bodyclass: 'blog-category blog-cat--'~category,
  section: 'blog',
  name: 'Blog',
  limit: 10
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  <div class="o-layout__container">
    <h1>{{ templateBriefing.name }}</h1>

    {# Build Query #}
    {% set entries = craft.entries({
      section: templateBriefing.section,
      sort: 'postDate',
      relatedTo: (category is defined ? category : false),
      limit: templateBriefing.limit
    }) %}

    {# Initiate the Pagination #}
    {% paginate entries as pageInfo, pageEntries %}

    {# Cache Entry #}
    {% cache globally using key templateBriefing.section~'-category' ~ craft.request.path %}
    {# Loop through entries #}
    {% for entry in pageEntries %}
      <article role="article" itemscope itemtype="http://schema.org/Article">
        <p>{{ entry.postDate | date('d.F Y') }}</p>
        <h2 role="heading" itemprop="name"><a href="{{ entry.url }}" role="link" itemprop="contentUrl">{{ entry.title }}</a></h2>
        {{ entry.body.getPage(1) }}
        <p><a href="{{ entry.url }}" role="link">Weiterlesen</a></p>
      </article>
    {% endfor %}
    {% endcache %}
    {# Include Pagination #}
    {{ myMacro.pagination(pageInfo,craft) }}
  </div>
{% endblock %}

