{#
 # News Entry Template
 # -------------------
 #}

{# Subtemplate Setup #}
{% set templateBriefing = {
  bodyclass: 'blog-entry'
} %}

{% extends '_layout/main-layout.html' %}

{% block content %}
  <div class="o-layout__container">
    {% cache globally using key craft.request.path %}
    <article role="article" itemscope itemtype="http://schema.org/Article">
      <p>{{ entry.postDate | date('d.F Y') }}</p>
      <h1 role="heading" itemprop="name">{{ entry.title }}</h1>
      {{ entry.body }}
      {% include '_builder/content-builder.html' %}
    </article>
    {% endcache %}
  </div>
{% endblock %}
