{#
 # Layout template
 # ---------------
 # When you want make your own or more
 #}

{# Include Macros for your #}
{% import '_macros/my-macro.html' as myMacro %}

<!DOCTYPE html>
<html lang="{{ craft.config.currentLanguage[craft.locale] }}">

{# Include the Document Header #}
{% include '_parts/document-header.html' %}

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div>

	{# Adding the Document Footer #}
	{% include '_parts/document-footer.html' %}
</body>
</html>
