{#
  Embed Content
  ==============
  For embedding responsive external content

  @param {string} name                   = c
  @param {object} data                   = Dataobject
  @param {string} data.embed             = Embeded Code
  @param {string} data.caption           = Optional Caption
  @param {object} options                = Optionsobject
  @param {string} options.style          = Optional Styleclass
  @param {bool}   options.responsive     = If the container should be responsive
  @param {string} options.ratio          = Aspect Ratio of the Object
  @param {string} options.align          = Align
#}

{# Split Aspect Ratio Value #}
{% set r = options.ratio|default('16:9') %}
{% set ar = r|split(':') %}

{# Build Element Block #}
{% if data.embedUrl|length or data.embed|length %}
  <div class="c-embedContent{{ _.styleClasses(options) }}" role="presentation">
    <div class="c-embedContent{{ options.responsive ? '__inner' : '__wrapper' }}"{% if options.responsive %} style="padding-bottom: {{ (ar|last)/(ar|first) * 100 }}%"{% endif %}>
      {% if data.embedUrl|length %}
        {{ data.embedUrl|videoEmbed }}
      {% else %}
        {{ data.embed|raw }}
      {% endif %}
    </div>
    {% if data.caption %}
      {% include '_components/caption.html' with { caption: data.caption, layout: 'align' } %}
    {% endif %}
  </div>
{% endif %}
