{#
  instagram
  =================
  Description

  @param {string} name            = Classname
#}

{% set r = options.ratio|default('1:1') %}
{% set ar = r|split(':') %}

{# Build Element Block #}
<figure class="c-instagram{{ _.styleClasses(options) }}" role="group" itemscope itemtype="http://schema.org/ImageObject">
  {% if options.linkable %}<a href="{{ data.postUrl }}" target="_blank">{% endif %}
    <div class="c-instagram__wrapper" style="padding-bottom: {{ (ar|last)/(ar|first) * 100 }}%;{% if options.position and options.ratio != '' %}background-position: {{ options.position }};{% endif %}background-image:url({{ data.postUrl|split('/',6)[:5]|join('/') }}/media?size={{ options.size }})"></div>
  {% if options.linkable %}</a>{% endif %}
  {% if data.caption %}
    {% include '_components/caption.html' with { caption: data.caption, layout: 'align' } %}
  {% endif %}
</figure>
