script(src='assets/js/scripts.js')
script(src='assets/js/conditionizr.js')
script(src='assets/js/app.js')
script(src='assets/js/eq.js')<% if ( projectiecompatible == true ) { %>
<!--[if lte IE 9]>
script(src='assets/js/selectivizr.js')
<![endif]--><% } %>

script(type='text/javascript')
  //<![CDATA[
    ;document.write("<script defer src='//HOST:3000/socket.io/socket.io.js'><\\/script><script defer src='//HOST:3001/client/browser-sync-client.0.9.1.js'><\/script>".replace(/HOST/g, location.hostname));
    //]]>
