// -----------------------------------
//  Sass Loader
// -----------------------------------
<% if (projectsasssyntax === 'SCSS') { %>
@charset "UTF-8";
// Import Map Data
@import "src/sassfiles/maps/map-loader";
// Core
@import "src/framework/core/_import-core";
// Import Setup Data
@import "src/framework/defaults";
@import "src/sassfiles/setup";
// Methods
@import "src/framework/methods/_import-methods";
// Generators
@import "src/framework/generators/_import-generators";
// Partials
@import "src/framework/partials/normalize";
// @import "../framework/partials/_tables";
// @import "../framework/partials/_print";
// UI Pattern
@import "src/framework/patterns/_import-patterns";
// App
@import "application/application";
// Load the Template Stylesheet
@import "workfile";<% }  else { %>
@charset "UTF-8"
// Import Map Data
@import "maps/map-loader"
// Core
@import "../framework/core/__import-core"
// Import Setup Data
@import "../framework/defaults"
@import "setup"
// Methods
@import "../framework/methods/__import-methods"
// Generators
@import "../framework/generators/__import-generators"
// Partials
@import "../framework/partials/_normalize"
// @import "../framework/partials/_tables"
// @import "../framework/partials/_print"
// UI Pattern
@import "../framework/patterns/__import-patterns"
// App
@import "application/application"
// Load the Template Stylesheet
@import "workfile"
<% } %>

