script(src='#{assetsJs}modernizr.js')
script(src='#{assetsJs}conditionizr.js')
script(src='#{assetsJs}app.js')<% if ( projectiecompatible == true ) { %>
<!--[if lte IE 9]>
script(src='#{assetsJs}selectivizr.js')
<![endif]--><% } %>
