/*
  Viewport Span
  =============
  Helper Modul for build a Element that Spans over the Viewport, with different Styles

  **Elements**
*/
.o-viewportspan {
  // Component Config
  $api: (
    selector: 'viewportspan',
    breakpoint: 'm',
    margin-bottom: s(1)
  );

  // Build root selector
  $root: '.o-#{v($api,selector)}';

  // Base Style ----------------------------
  margin-bottom: v($api,margin-bottom);
  position: relative;
  overflow: hidden;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  // Base Modifier -------------------------
  // [root]--s-default
  &--s-default {
    background-color: #e6e6e6;
    padding-top: s(1);
    padding-bottom: s(1);
  }

  // Childs --------------------------------
  // [root]__inner
  &__inner {
    @extend .o-container;

    *:last-child {
      margin-bottom: 0;
    }
  }
}
